openapi: 3.0.1
info:
  title: Nota Fiscal de Consumidor
  description: "# Introducão\nSeja bem-vindo a documentação da API de Nota Fiscal de Consumidor!\nNossa API foi criada utilizando o padrão REST que possibilita a integração de seu sistema ao nosso, sendo assim você também pode extender ou recriar as funcionalidades existentes na nossa plataforma, tudo isso consumindo a API que está documentada abaixo.\n\n\n# Como usar a API?\nLogo a seguir você encontrará todos os recursos e metódos suportados pela API, sendo que essa página possibilita que você teste os recursos e métodos diretamente através dela.\n\n\n# Autenticação\nVocê precisa de uma chave de API (API Key) para identificar a conta que está realizando solicitações para a API. \nPara isso você deve colocar sua chave de API no campo que se encontra topo desta página para que os métodos funcionem corretamente.\nNo seu código e integração temos suporte para autenticação de diversas formas sendo eles: \nHTTP Header (Authorization) ou HTTP Query String (api_key) nos dois modos passando o valor da sua chave de api (API Key).\n<!-- ReDoc-Inject: <security-definitions> -->\n"
  version: v2
servers:
  - url: https://api.nfse.io/
tags:
  - name: Companies
    description: |
      Utilize esta requisição para criar novas empresas plataforma para processar Documentos Fiscais. **Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.
  - name: Companies Certificates
    description: |
      Utilize esta requisição para fazer upload de um **Certificado da ICP-Brasil** do tipo **e-CNPJ A1** ou **NFE A1** em uma **Empresa** e vincula-lo para processamentos.

      O **Certificado da ICP-Brasil** funciona como uma identidade virtual, para empresas e pessoas, que permite a identificação segura e inequívoca do autor de uma mensagem ou transação feita em meios eletrônicos, como a web.
  - name: Companies State Taxes
    description: |
      Está sessão é destinada às **Incrições Estaduais(IE).** Uma **Incrição Estadual** representa os dados necessários sobre o cadastro Estadual (ICMS) que é preciso para processar Documentos Fiscais na SEFAZ.

      Utilizando as informações abaixo você pode criar novas IEs na empresa para processar **Documentos Fiscais.** Além disso, também é possível listar as IEs por empresa e consultar, alterar e exluir uma IE pelo ID da mesma.
  - name: Consumer Invoices
    description: "Nesta sessão estão disponíveis informações necessárias para emitir uma Nota Fiscal De Consumidor Eletrônica usando a nossa API. \n\nVocê também encontrará informações sobre consulta de uma nota fiscal por ID, consulta de uma lista de notas por empresa, consulta do PDF do Documento Auxiliar da Nota Fiscal Eletrônica(DANFE-NFCE) e consulta do XML da nota fiscal de consumidor eletrônica.\n"
  - name: WebHooks
    description: |
      Eventos ocorrem a todo instante na plataforma durante os processamentos e são registrados criando notificações para os webhooks ativos e configurados para receber os eventos.

      Um **Webhook** é semelhante a uma assinatura em um sistema de publicação e assinatura que permite ao assinante indicar quando, como e onde as notificações de eventos devem ser despachadas. Um **Webhook** é registrado e gerenciado por Conta o que significa que cada Conta tem um conjunto separado de ganchos que podem ser acionados por eventos gerados através de ações executadas por esse Conta. Ou seja, a **Conta da Empresa A** não verá os WebHooks disparados por uma ação executada pelo usuário **Conta da Empresa B**.

      São identificados seguindo o padrão **Resource.EventAction**, sendo **Resource** o nome da entidade que gerou o evento e **EventAction** o nome do evento e ação criados.

      Esses tipos podem ser utilizados como filtro ao criar ou alterar um webhook, sendo que o filtro determina quais notificações de eventos e ação serão enviadas para um determinado webhook, ou seja, dependendo de quais filtros são vinculados ao webhook ele só receberá as notificações de evento e ação que correspondem a um ou mais desses filtros
paths:
  /v2/companies:
    get:
      tags:
        - Companies
      summary: Consultar todas as Empresas da Conta
      description: "### Informações adicionais\r\n \r\nUtilize esta requisição para consultar os dados das empresas vinculadas a conta."
      operationId: V2CompaniesGet
      parameters:
        - name: startingAfter
          in: query
          description: 'Id de início do contador (Default: Empty)'
          schema:
            type: string
        - name: endingBefore
          in: query
          description: 'Id final do contador (Default: Empty)'
          schema:
            type: string
        - name: limit
          in: query
          description: 'Limite de resultados na página (Default: 10)'
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Sucesso na consulta da Empresa
          content:
            application/json:
              schema:
                type: object
                properties:
                  companies:
                    type: array
                    description: Lista de Empresa
                    items:
                      required:
                        - address
                        - federalTaxNumber
                        - name
                        - tradeName
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identificador (gerado automaticamente)
                        stateTaxes:
                          type: array
                          description: Lista de Inscrição Estadual
                          items:
                            type: string
                        name:
                          type: string
                          description: Razão Social
                        accountId:
                          type: string
                          description: Identificador da conta
                        tradeName:
                          type: string
                          description: Nome Fantasia
                        federalTaxNumber:
                          type: integer
                          description: Número de Inscrição Federal (CNPJ)
                          format: int64
                        taxRegime:
                          type: string
                          description: Regime Tributário
                          enum:
                            - isento
                            - microempreendedorIndividual
                            - simplesNacional
                            - lucroPresumido
                            - lucroReal
                            - none
                        address:
                          required:
                            - city
                            - country
                            - district
                            - number
                            - postalCode
                            - state
                            - street
                          type: object
                          properties:
                            state:
                              type: string
                              description: 'Estado, ex.: SP, RJ, AC, padrão ISO 3166-2 ALFA 2.'
                            city:
                              required:
                                - code
                                - name
                              type: object
                              properties:
                                code:
                                  type: string
                                  description: Cód. do Município, segundo o Tabela de Municípios do IBGE
                                name:
                                  type: string
                                  description: Nome do Município
                              description: Cidade do Endereço
                            district:
                              type: string
                              description: Bairro do Endereço
                            additionalInformation:
                              type: string
                              description: 'Complemento do Endereço, ex.: AP 2, BL A.'
                            street:
                              type: string
                              description: Logradouro do Endereço
                            number:
                              type: string
                              description: Número do Endereço. Usar S/N para "sem número".
                            postalCode:
                              type: string
                              description: Cód. Endereço Postal (CEP)
                            country:
                              type: string
                              description: 'País, ex.: BRA, ARG, USA, padrão ISO 3166-1 ALFA-3.'
                          description: Endereço
                      description: Dados da Empresa
                description: Empresas
        "400":
          description: Algum parametro informado não é válido, verificar resposta
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "401":
          description: Não autorizado, verificar o cabeçalho do HTTP Authorization
          content: {}
        "403":
          description: Accesso proibido
          content: {}
        "404":
          description: Empresa não encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
      security:
        - Authorization_Header:
            - apiKey
        - Authorization_QueryParam:
            - apiKey
    post:
      tags:
        - Companies
      summary: Criar uma Empresa
      description: "### Informações adicionais\r\n \r\nUtilize esta requisição para criar novas empresas plataforma para processar Documentos Fiscais.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais."
      operationId: V2CompaniesPost
      requestBody:
        description: Dados da Empresa a ser criada
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  required:
                    - address
                    - federalTaxNumber
                    - name
                    - tradeName
                  type: object
                  properties:
                    name:
                      type: string
                      description: Razão Social
                    accountId:
                      type: string
                      description: Identificador da conta
                    tradeName:
                      type: string
                      description: Nome Fantasia
                    federalTaxNumber:
                      type: integer
                      description: Número de Inscrição Federal (CNPJ)
                      format: int64
                    taxRegime:
                      type: string
                      description: Regime Tributário
                      enum:
                        - isento
                        - microempreendedorIndividual
                        - simplesNacional
                        - lucroPresumido
                        - lucroReal
                        - none
                    address:
                      required:
                        - city
                        - country
                        - district
                        - number
                        - postalCode
                        - state
                        - street
                      type: object
                      properties:
                        state:
                          type: string
                          description: 'Estado, ex.: SP, RJ, AC, padrão ISO 3166-2 ALFA 2.'
                        city:
                          required:
                            - code
                            - name
                          type: object
                          properties:
                            code:
                              type: string
                              description: Cód. do Município, segundo o Tabela de Municípios do IBGE
                            name:
                              type: string
                              description: Nome do Município
                          description: Cidade do Endereço
                        district:
                          type: string
                          description: Bairro do Endereço
                        additionalInformation:
                          type: string
                          description: 'Complemento do Endereço, ex.: AP 2, BL A.'
                        street:
                          type: string
                          description: Logradouro do Endereço
                        number:
                          type: string
                          description: Número do Endereço. Usar S/N para "sem número".
                        postalCode:
                          type: string
                          description: Cód. Endereço Postal (CEP)
                        country:
                          type: string
                          description: 'País, ex.: BRA, ARG, USA, padrão ISO 3166-1 ALFA-3.'
                      description: Endereço
                  description: Dados da Empresa
              description: Dados para Criar Empresa
          text/json:
            schema:
              type: object
              properties:
                company:
                  required:
                    - address
                    - federalTaxNumber
                    - name
                    - tradeName
                  type: object
                  properties:
                    name:
                      type: string
                      description: Razão Social
                    accountId:
                      type: string
                      description: Identificador da conta
                    tradeName:
                      type: string
                      description: Nome Fantasia
                    federalTaxNumber:
                      type: integer
                      description: Número de Inscrição Federal (CNPJ)
                      format: int64
                    taxRegime:
                      type: string
                      description: Regime Tributário
                      enum:
                        - isento
                        - microempreendedorIndividual
                        - simplesNacional
                        - lucroPresumido
                        - lucroReal
                        - none
                    address:
                      required:
                        - city
                        - country
                        - district
                        - number
                        - postalCode
                        - state
                        - street
                      type: object
                      properties:
                        state:
                          type: string
                          description: 'Estado, ex.: SP, RJ, AC, padrão ISO 3166-2 ALFA 2.'
                        city:
                          required:
                            - code
                            - name
                          type: object
                          properties:
                            code:
                              type: string
                              description: Cód. do Município, segundo o Tabela de Municípios do IBGE
                            name:
                              type: string
                              description: Nome do Município
                          description: Cidade do Endereço
                        district:
                          type: string
                          description: Bairro do Endereço
                        additionalInformation:
                          type: string
                          description: 'Complemento do Endereço, ex.: AP 2, BL A.'
                        street:
                          type: string
                          description: Logradouro do Endereço
                        number:
                          type: string
                          description: Número do Endereço. Usar S/N para "sem número".
                        postalCode:
                          type: string
                          description: Cód. Endereço Postal (CEP)
                        country:
                          type: string
                          description: 'País, ex.: BRA, ARG, USA, padrão ISO 3166-1 ALFA-3.'
                      description: Endereço
                  description: Dados da Empresa
              description: Dados para Criar Empresa
          application/*+json:
            schema:
              type: object
              properties:
                company:
                  required:
                    - address
                    - federalTaxNumber
                    - name
                    - tradeName
                  type: object
                  properties:
                    name:
                      type: string
                      description: Razão Social
                    accountId:
                      type: string
                      description: Identificador da conta
                    tradeName:
                      type: string
                      description: Nome Fantasia
                    federalTaxNumber:
                      type: integer
                      description: Número de Inscrição Federal (CNPJ)
                      format: int64
                    taxRegime:
                      type: string
                      description: Regime Tributário
                      enum:
                        - isento
                        - microempreendedorIndividual
                        - simplesNacional
                        - lucroPresumido
                        - lucroReal
                        - none
                    address:
                      required:
                        - city
                        - country
                        - district
                        - number
                        - postalCode
                        - state
                        - street
                      type: object
                      properties:
                        state:
                          type: string
                          description: 'Estado, ex.: SP, RJ, AC, padrão ISO 3166-2 ALFA 2.'
                        city:
                          required:
                            - code
                            - name
                          type: object
                          properties:
                            code:
                              type: string
                              description: Cód. do Município, segundo o Tabela de Municípios do IBGE
                            name:
                              type: string
                              description: Nome do Município
                          description: Cidade do Endereço
                        district:
                          type: string
                          description: Bairro do Endereço
                        additionalInformation:
                          type: string
                          description: 'Complemento do Endereço, ex.: AP 2, BL A.'
                        street:
                          type: string
                          description: Logradouro do Endereço
                        number:
                          type: string
                          description: Número do Endereço. Usar S/N para "sem número".
                        postalCode:
                          type: string
                          description: Cód. Endereço Postal (CEP)
                        country:
                          type: string
                          description: 'País, ex.: BRA, ARG, USA, padrão ISO 3166-1 ALFA-3.'
                      description: Endereço
                  description: Dados da Empresa
              description: Dados para Criar Empresa
        required: false
      responses:
        "200":
          description: Sucesso na criação da Empresa
          content:
            application/json:
              schema:
                type: object
                properties:
                  company:
                    required:
                      - address
                      - federalTaxNumber
                      - name
                      - tradeName
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identificador (gerado automaticamente)
                      stateTaxes:
                        type: array
                        description: Lista de Inscrição Estadual
                        items:
                          type: string
                      name:
                        type: string
                        description: Razão Social
                      accountId:
                        type: string
                        description: Identificador da conta
                      tradeName:
                        type: string
                        description: Nome Fantasia
                      federalTaxNumber:
                        type: integer
                        description: Número de Inscrição Federal (CNPJ)
                        format: int64
                      taxRegime:
                        type: string
                        description: Regime Tributário
                        enum:
                          - isento
                          - microempreendedorIndividual
                          - simplesNacional
                          - lucroPresumido
                          - lucroReal
                          - none
                      address:
                        required:
                          - city
                          - country
                          - district
                          - number
                          - postalCode
                          - state
                          - street
                        type: object
                        properties:
                          state:
                            type: string
                            description: 'Estado, ex.: SP, RJ, AC, padrão ISO 3166-2 ALFA 2.'
                          city:
                            required:
                              - code
                              - name
                            type: object
                            properties:
                              code:
                                type: string
                                description: Cód. do Município, segundo o Tabela de Municípios do IBGE
                              name:
                                type: string
                                description: Nome do Município
                            description: Cidade do Endereço
                          district:
                            type: string
                            description: Bairro do Endereço
                          additionalInformation:
                            type: string
                            description: 'Complemento do Endereço, ex.: AP 2, BL A.'
                          street:
                            type: string
                            description: Logradouro do Endereço
                          number:
                            type: string
                            description: Número do Endereço. Usar S/N para "sem número".
                          postalCode:
                            type: string
                            description: Cód. Endereço Postal (CEP)
                          country:
                            type: string
                            description: 'País, ex.: BRA, ARG, USA, padrão ISO 3166-1 ALFA-3.'
                        description: Endereço
                    description: Dados da Empresa
                description: Empresa
        "400":
          description: Algum parametro informado não é válido, verificar resposta
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "401":
          description: Não autorizado, verificar o cabeçalho do HTTP Authorization
          content: {}
        "403":
          description: Accesso proibido
          content: {}
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
      security:
        - Authorization_Header:
            - apiKey
        - Authorization_QueryParam:
            - apiKey
      x-codegen-request-body-name: body
  /v2/companies/{company_id}:
    get:
      tags:
        - Companies
      summary: Consultar uma Empresa pelo ID
      description: "### Informações adicionais\r\n \r\nUtilize esta requisição para consultar os dados de uma empresas pelo ID."
      operationId: V2CompaniesByCompany_idGet
      parameters:
        - name: company_id
          in: path
          description: ID da Empresa que deverá ser retornado
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso na consulta da Empresa
          content:
            application/json:
              schema:
                type: object
                properties:
                  company:
                    required:
                      - address
                      - federalTaxNumber
                      - name
                      - tradeName
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identificador (gerado automaticamente)
                      stateTaxes:
                        type: array
                        description: Lista de Inscrição Estadual
                        items:
                          type: string
                      name:
                        type: string
                        description: Razão Social
                      accountId:
                        type: string
                        description: Identificador da conta
                      tradeName:
                        type: string
                        description: Nome Fantasia
                      federalTaxNumber:
                        type: integer
                        description: Número de Inscrição Federal (CNPJ)
                        format: int64
                      taxRegime:
                        type: string
                        description: Regime Tributário
                        enum:
                          - isento
                          - microempreendedorIndividual
                          - simplesNacional
                          - lucroPresumido
                          - lucroReal
                          - none
                      address:
                        required:
                          - city
                          - country
                          - district
                          - number
                          - postalCode
                          - state
                          - street
                        type: object
                        properties:
                          state:
                            type: string
                            description: 'Estado, ex.: SP, RJ, AC, padrão ISO 3166-2 ALFA 2.'
                          city:
                            required:
                              - code
                              - name
                            type: object
                            properties:
                              code:
                                type: string
                                description: Cód. do Município, segundo o Tabela de Municípios do IBGE
                              name:
                                type: string
                                description: Nome do Município
                            description: Cidade do Endereço
                          district:
                            type: string
                            description: Bairro do Endereço
                          additionalInformation:
                            type: string
                            description: 'Complemento do Endereço, ex.: AP 2, BL A.'
                          street:
                            type: string
                            description: Logradouro do Endereço
                          number:
                            type: string
                            description: Número do Endereço. Usar S/N para "sem número".
                          postalCode:
                            type: string
                            description: Cód. Endereço Postal (CEP)
                          country:
                            type: string
                            description: 'País, ex.: BRA, ARG, USA, padrão ISO 3166-1 ALFA-3.'
                        description: Endereço
                    description: Dados da Empresa
                description: Empresa
        "400":
          description: Algum parametro informado não é válido, verificar resposta
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "401":
          description: Não autorizado, verificar o cabeçalho do HTTP Authorization
          content: {}
        "403":
          description: Accesso proibido
          content: {}
        "404":
          description: Empresa não encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
      security:
        - Authorization_Header:
            - apiKey
        - Authorization_QueryParam:
            - apiKey
    put:
      tags:
        - Companies
      summary: Alterar uma Empresa pelo ID
      description: "### Informações adicionais\r\n \r\nUtilize esta requisição para alterar os dados de uma empresas pelo ID."
      operationId: V2CompaniesByCompany_idPut
      parameters:
        - name: company_id
          in: path
          description: ID da Empresa que deverá ser retornado
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Empresa a ser alterada
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  required:
                    - address
                    - federalTaxNumber
                    - name
                    - tradeName
                  type: object
                  properties:
                    id:
                      type: string
                      description: Identificador (gerado automaticamente)
                    name:
                      type: string
                      description: Razão Social
                    accountId:
                      type: string
                      description: Identificador da conta
                    tradeName:
                      type: string
                      description: Nome Fantasia
                    federalTaxNumber:
                      type: integer
                      description: Número de Inscrição Federal (CNPJ)
                      format: int64
                    taxRegime:
                      type: string
                      description: Regime Tributário
                      enum:
                        - isento
                        - microempreendedorIndividual
                        - simplesNacional
                        - lucroPresumido
                        - lucroReal
                        - none
                    address:
                      required:
                        - city
                        - country
                        - district
                        - number
                        - postalCode
                        - state
                        - street
                      type: object
                      properties:
                        state:
                          type: string
                          description: 'Estado, ex.: SP, RJ, AC, padrão ISO 3166-2 ALFA 2.'
                        city:
                          required:
                            - code
                            - name
                          type: object
                          properties:
                            code:
                              type: string
                              description: Cód. do Município, segundo o Tabela de Municípios do IBGE
                            name:
                              type: string
                              description: Nome do Município
                          description: Cidade do Endereço
                        district:
                          type: string
                          description: Bairro do Endereço
                        additionalInformation:
                          type: string
                          description: 'Complemento do Endereço, ex.: AP 2, BL A.'
                        street:
                          type: string
                          description: Logradouro do Endereço
                        number:
                          type: string
                          description: Número do Endereço. Usar S/N para "sem número".
                        postalCode:
                          type: string
                          description: Cód. Endereço Postal (CEP)
                        country:
                          type: string
                          description: 'País, ex.: BRA, ARG, USA, padrão ISO 3166-1 ALFA-3.'
                      description: Endereço
                  description: Dados da Empresa
              description: Dados para Alterar Empresa
          text/json:
            schema:
              type: object
              properties:
                company:
                  required:
                    - address
                    - federalTaxNumber
                    - name
                    - tradeName
                  type: object
                  properties:
                    id:
                      type: string
                      description: Identificador (gerado automaticamente)
                    name:
                      type: string
                      description: Razão Social
                    accountId:
                      type: string
                      description: Identificador da conta
                    tradeName:
                      type: string
                      description: Nome Fantasia
                    federalTaxNumber:
                      type: integer
                      description: Número de Inscrição Federal (CNPJ)
                      format: int64
                    taxRegime:
                      type: string
                      description: Regime Tributário
                      enum:
                        - isento
                        - microempreendedorIndividual
                        - simplesNacional
                        - lucroPresumido
                        - lucroReal
                        - none
                    address:
                      required:
                        - city
                        - country
                        - district
                        - number
                        - postalCode
                        - state
                        - street
                      type: object
                      properties:
                        state:
                          type: string
                          description: 'Estado, ex.: SP, RJ, AC, padrão ISO 3166-2 ALFA 2.'
                        city:
                          required:
                            - code
                            - name
                          type: object
                          properties:
                            code:
                              type: string
                              description: Cód. do Município, segundo o Tabela de Municípios do IBGE
                            name:
                              type: string
                              description: Nome do Município
                          description: Cidade do Endereço
                        district:
                          type: string
                          description: Bairro do Endereço
                        additionalInformation:
                          type: string
                          description: 'Complemento do Endereço, ex.: AP 2, BL A.'
                        street:
                          type: string
                          description: Logradouro do Endereço
                        number:
                          type: string
                          description: Número do Endereço. Usar S/N para "sem número".
                        postalCode:
                          type: string
                          description: Cód. Endereço Postal (CEP)
                        country:
                          type: string
                          description: 'País, ex.: BRA, ARG, USA, padrão ISO 3166-1 ALFA-3.'
                      description: Endereço
                  description: Dados da Empresa
              description: Dados para Alterar Empresa
          application/*+json:
            schema:
              type: object
              properties:
                company:
                  required:
                    - address
                    - federalTaxNumber
                    - name
                    - tradeName
                  type: object
                  properties:
                    id:
                      type: string
                      description: Identificador (gerado automaticamente)
                    name:
                      type: string
                      description: Razão Social
                    accountId:
                      type: string
                      description: Identificador da conta
                    tradeName:
                      type: string
                      description: Nome Fantasia
                    federalTaxNumber:
                      type: integer
                      description: Número de Inscrição Federal (CNPJ)
                      format: int64
                    taxRegime:
                      type: string
                      description: Regime Tributário
                      enum:
                        - isento
                        - microempreendedorIndividual
                        - simplesNacional
                        - lucroPresumido
                        - lucroReal
                        - none
                    address:
                      required:
                        - city
                        - country
                        - district
                        - number
                        - postalCode
                        - state
                        - street
                      type: object
                      properties:
                        state:
                          type: string
                          description: 'Estado, ex.: SP, RJ, AC, padrão ISO 3166-2 ALFA 2.'
                        city:
                          required:
                            - code
                            - name
                          type: object
                          properties:
                            code:
                              type: string
                              description: Cód. do Município, segundo o Tabela de Municípios do IBGE
                            name:
                              type: string
                              description: Nome do Município
                          description: Cidade do Endereço
                        district:
                          type: string
                          description: Bairro do Endereço
                        additionalInformation:
                          type: string
                          description: 'Complemento do Endereço, ex.: AP 2, BL A.'
                        street:
                          type: string
                          description: Logradouro do Endereço
                        number:
                          type: string
                          description: Número do Endereço. Usar S/N para "sem número".
                        postalCode:
                          type: string
                          description: Cód. Endereço Postal (CEP)
                        country:
                          type: string
                          description: 'País, ex.: BRA, ARG, USA, padrão ISO 3166-1 ALFA-3.'
                      description: Endereço
                  description: Dados da Empresa
              description: Dados para Alterar Empresa
        required: false
      responses:
        "200":
          description: Sucesso na alteração da Empresa
          content:
            application/json:
              schema:
                type: object
                properties:
                  company:
                    required:
                      - address
                      - federalTaxNumber
                      - name
                      - tradeName
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identificador (gerado automaticamente)
                      stateTaxes:
                        type: array
                        description: Lista de Inscrição Estadual
                        items:
                          type: string
                      name:
                        type: string
                        description: Razão Social
                      accountId:
                        type: string
                        description: Identificador da conta
                      tradeName:
                        type: string
                        description: Nome Fantasia
                      federalTaxNumber:
                        type: integer
                        description: Número de Inscrição Federal (CNPJ)
                        format: int64
                      taxRegime:
                        type: string
                        description: Regime Tributário
                        enum:
                          - isento
                          - microempreendedorIndividual
                          - simplesNacional
                          - lucroPresumido
                          - lucroReal
                          - none
                      address:
                        required:
                          - city
                          - country
                          - district
                          - number
                          - postalCode
                          - state
                          - street
                        type: object
                        properties:
                          state:
                            type: string
                            description: 'Estado, ex.: SP, RJ, AC, padrão ISO 3166-2 ALFA 2.'
                          city:
                            required:
                              - code
                              - name
                            type: object
                            properties:
                              code:
                                type: string
                                description: Cód. do Município, segundo o Tabela de Municípios do IBGE
                              name:
                                type: string
                                description: Nome do Município
                            description: Cidade do Endereço
                          district:
                            type: string
                            description: Bairro do Endereço
                          additionalInformation:
                            type: string
                            description: 'Complemento do Endereço, ex.: AP 2, BL A.'
                          street:
                            type: string
                            description: Logradouro do Endereço
                          number:
                            type: string
                            description: Número do Endereço. Usar S/N para "sem número".
                          postalCode:
                            type: string
                            description: Cód. Endereço Postal (CEP)
                          country:
                            type: string
                            description: 'País, ex.: BRA, ARG, USA, padrão ISO 3166-1 ALFA-3.'
                        description: Endereço
                    description: Dados da Empresa
                description: Empresa
        "400":
          description: Algum parametro informado não é válido, verificar resposta
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "401":
          description: Não autorizado, verificar o cabeçalho do HTTP Authorization
          content: {}
        "403":
          description: Accesso proibido
          content: {}
        "404":
          description: Empresa não encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
      security:
        - Authorization_Header:
            - apiKey
        - Authorization_QueryParam:
            - apiKey
      x-codegen-request-body-name: body
    delete:
      tags:
        - Companies
      summary: Excluir uma Empresa por ID
      description: "### Informações adicionais\r\n \r\nUtilize esta requisição para excluir uma empresas pelo ID, cuidado pois esse processo é irreversível."
      operationId: V2CompaniesByCompany_idDelete
      parameters:
        - name: company_id
          in: path
          description: ID da Empresa que deverá ser retornado
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Sucesso na exclusão da Empresa
          content: {}
        "400":
          description: Algum parametro informado não é válido, verificar resposta
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "401":
          description: Não autorizado, verificar o cabeçalho do HTTP Authorization
          content: {}
        "403":
          description: Accesso proibido
          content: {}
        "404":
          description: Empresa não encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
      security:
        - Authorization_Header:
            - apiKey
        - Authorization_QueryParam:
            - apiKey
  /v2/companies/{company_id}/certificates:
    get:
      tags:
        - Companies Certificates
      summary: Consultar um Certificado por seu Status
      description: "### Informações adicionais\r\n \r\nUtilize esta requisição para consultar os dados de um **Certificado da ICP-Brasil** através d0 **status do certificado** (__status__)."
      operationId: V2CompaniesByCompany_idCertificatesGet
      parameters:
        - name: company_id
          in: path
          description: ID da Empresa relacionada ao certificado
          required: true
          schema:
            type: string
        - name: status
          in: query
          description: Status do certificado
          schema:
            type: string
            enum:
              - inactive
              - overdue
              - pending
              - active
              - none
      responses:
        "200":
          description: Sucesso na consulta
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificates:
                    type: array
                    items:
                      type: object
                      properties:
                        subject:
                          type: string
                          description: Nome do certificado (subject distinguished name)
                        validUntil:
                          type: string
                          description: Data no horário local após o qual um certificado não é mais válido
                          format: date-time
                        thumbprint:
                          type: string
                          description: A impressão digital do certificado
                        federalTaxNumber:
                          type: string
                          description: CNPJ da Empresa
                        modifiedOn:
                          type: string
                          description: Data de modificação
                          format: date-time
                        status:
                          type: string
                          description: Status do certificado
                          enum:
                            - inactive
                            - overdue
                            - pending
                            - active
                            - none
                      description: Certificado
        "400":
          description: Algum parametro informado não é válido, verificar resposta
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "401":
          description: Não autorizado, verificar o cabeçalho do HTTP Authorization
          content: {}
        "403":
          description: Accesso proibido
          content: {}
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
      security:
        - Authorization_Header:
            - apiKey
        - Authorization_QueryParam:
            - apiKey
    post:
      tags:
        - Companies Certificates
      summary: Upload de um Certificado
      description: "### Informações adicionais\r\n\r\nUtilize esta requisição para fazer upload de um **Certificado da ICP-Brasil** do tipo __e-CNPJ A1__ ou __NFE A1__ em uma **Empresa** e vincula-lo para processamentos.\r\n\r\nO **Certificado da ICP-Brasil** funciona como uma identidade virtual, para empresas e pessoas, que permite a identificação segura e inequívoca do autor de uma mensagem ou transação feita em meios eletrônicos, como a web."
      operationId: V2CompaniesByCompany_idCertificatesPost
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - password
              type: object
              properties:
                file:
                  type: string
                  description: Arquivo com certificado ICP-Brasil com extensão .pfx ou .p12
                  format: binary
                password:
                  type: string
                  description: Senha do certificado ICP-Brasil
          application/form-data:
            schema:
              required:
                - file
                - password
              type: object
              properties:
                file:
                  type: string
                  description: Arquivo com certificado ICP-Brasil com extensão .pfx ou .p12
                  format: binary
                password:
                  type: string
                  description: Senha do certificado ICP-Brasil
        required: true
      responses:
        "200":
          description: Sucesso no upload e vinculo com a Empresa
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificate:
                    type: object
                    properties:
                      subject:
                        type: string
                        description: Nome do certificado (subject distinguished name)
                      validUntil:
                        type: string
                        description: Data no horário local após o qual um certificado não é mais válido
                        format: date-time
                      thumbprint:
                        type: string
                        description: A impressão digital do certificado
                      federalTaxNumber:
                        type: string
                        description: CNPJ da Empresa
                      modifiedOn:
                        type: string
                        description: Data de modificação
                        format: date-time
                      status:
                        type: string
                        description: Status do certificado
                        enum:
                          - inactive
                          - overdue
                          - pending
                          - active
                          - none
                    description: Certificado
                description: Certificado
        "400":
          description: Algum parametro informado não é válido, verificar resposta
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "401":
          description: Não autorizado, verificar o cabeçalho do HTTP Authorization
          content: {}
        "403":
          description: Accesso proibido
          content: {}
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
      security:
        - Authorization_Header:
            - apiKey
        - Authorization_QueryParam:
            - apiKey
  /v2/companies/{company_id}/certificates/{certificate_thumbprint}:
    get:
      tags:
        - Companies Certificates
      summary: Consultar um Certificado por sua impressão digital
      description: "### Informações adicionais\r\n \r\nUtilize esta requisição para consultar os dados de um **Certificado da ICP-Brasil** através da **impressão digital do certificado** (__thumbprint__)."
      operationId: V2CompaniesByCompany_idCertificatesByCertificate_thumbprintGet
      parameters:
        - name: company_id
          in: path
          description: ID da Empresa relacionada ao certificado
          required: true
          schema:
            type: string
        - name: certificate_thumbprint
          in: path
          description: Impressão digital do certificado
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso na consulta
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificate:
                    type: object
                    properties:
                      subject:
                        type: string
                        description: Nome do certificado (subject distinguished name)
                      validUntil:
                        type: string
                        description: Data no horário local após o qual um certificado não é mais válido
                        format: date-time
                      thumbprint:
                        type: string
                        description: A impressão digital do certificado
                      federalTaxNumber:
                        type: string
                        description: CNPJ da Empresa
                      modifiedOn:
                        type: string
                        description: Data de modificação
                        format: date-time
                      status:
                        type: string
                        description: Status do certificado
                        enum:
                          - inactive
                          - overdue
                          - pending
                          - active
                          - none
                    description: Certificado
                description: Certificado
        "400":
          description: Algum parametro informado não é válido, verificar resposta
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "401":
          description: Não autorizado, verificar o cabeçalho do HTTP Authorization
          content: {}
        "403":
          description: Accesso proibido
          content: {}
        "404":
          description: Certificado não encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
      security:
        - Authorization_Header:
            - apiKey
        - Authorization_QueryParam:
            - apiKey
    delete:
      tags:
        - Companies Certificates
      summary: Excluir um Certificado por sua impressão digital
      description: "### Informações adicionais\r\n \r\nUtilize esta requisição para excluir o **Certificado da ICP-Brasil** através da **impressão digital do certificado** (__thumbprint__) e desvincula-lo da **Empresa**.\r\n\r\n**ATENÇÃO pois esta requisição é irreversível**"
      operationId: V2CompaniesByCompany_idCertificatesByCertificate_thumbprintDelete
      parameters:
        - name: company_id
          in: path
          description: ID da Empresa relacionada ao certificado
          required: true
          schema:
            type: string
        - name: certificate_thumbprint
          in: path
          description: Impressão digital do certificado
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Sucesso na exclusão e desvinculo com a Empresa
          content: {}
        "400":
          description: Algum parametro informado não é válido, verificar resposta
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "401":
          description: Não autorizado, verificar o cabeçalho do HTTP Authorization
          content: {}
        "403":
          description: Accesso proibido
          content: {}
        "404":
          description: Certificado não encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
      security:
        - Authorization_Header:
            - apiKey
        - Authorization_QueryParam:
            - apiKey
  /v2/companies/{company_id}/statetaxes:
    get:
      tags:
        - Companies State Taxes
      summary: Listar as Inscrições Estaduais
      description: "### Informações adicionais\r\n \r\nUtilize esta requisição para listar as inscrições estaduais na empresa para processar __Documentos Fiscais__.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Estadual** representa os dados necessários sobre o cadastro Estadual (ICMS) que é preciso para processar Documentos Fiscais na SEFAZ."
      operationId: V2CompaniesByCompany_idStatetaxesGet
      parameters:
        - name: company_id
          in: path
          description: ID da Empresa
          required: true
          schema:
            type: string
        - name: startingAfter
          in: query
          description: 'Id de início do contador (Default: Empty)'
          schema:
            type: string
        - name: endingBefore
          in: query
          description: 'Id final do contador (Default: Empty)'
          schema:
            type: string
        - name: limit
          in: query
          description: 'Limite de resultados na página (Default: 10)'
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Sucesso na criação da Inscrição Estadual
          content:
            application/json:
              schema:
                type: object
                properties:
                  stateTaxes:
                    type: array
                    description: Lista de Inscriçoes Estaduais
                    items:
                      required:
                        - number
                        - serie
                        - taxNumber
                      type: object
                      properties:
                        companyId:
                          type: string
                          description: Código da Empresa
                        accountId:
                          type: string
                          description: Account Id
                        status:
                          type: string
                          description: Status no sistema
                          enum:
                            - inactive
                            - none
                            - active
                        series:
                          type: array
                          description: Todas as séries para esta Inscrição Estadual
                          items:
                            type: integer
                            format: int32
                        createdOn:
                          type: string
                          description: Data de criação
                          format: date-time
                        modifiedOn:
                          type: string
                          description: Data de modificação
                          format: date-time
                        batchId:
                          type: integer
                          description: Número do Lote
                          format: int64
                        id:
                          type: string
                          description: Identificador (gerado automaticamente)
                        code:
                          type: string
                          description: Código do Estado
                          enum:
                            - rO
                            - aC
                            - aM
                            - rR
                            - pA
                            - aP
                            - tO
                            - mA
                            - pI
                            - cE
                            - rN
                            - pB
                            - pE
                            - aL
                            - sE
                            - bA
                            - mG
                            - eS
                            - rJ
                            - sP
                            - pR
                            - sC
                            - rS
                            - mS
                            - mT
                            - gO
                            - dF
                            - eX
                            - nA
                        environmentType:
                          type: string
                          description: Ambiente
                          enum:
                            - none
                            - production
                            - test
                        taxNumber:
                          type: string
                          description: Inscrição Estadual
                        specialTaxRegime:
                          type: string
                          description: Tipo do regime especial de tributação
                          enum:
                            - automatico
                            - nenhum
                            - microempresaMunicipal
                            - estimativa
                            - sociedadeDeProfissionais
                            - cooperativa
                            - microempreendedorIndividual
                            - microempresarioEmpresaPequenoPorte
                        serie:
                          type: integer
                          description: Serie para a emissão NFe
                          format: int32
                        number:
                          type: integer
                          description: Número para a emissão NFe
                          format: int64
                        securityCredential:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Id do código de segurança do contribuinte
                              format: int32
                            code:
                              type: string
                              description: Código de segurança do contribuinte
                          description: Código de segurança do contribuinte (necessário para emissão de NFCe)
                        type:
                          type: string
                          description: Tipo de emissão que será emitido | 0 - Default, 1 - NFe, 2 - NFCe
                          enum:
                            - default
                            - nFe
                            - nFCe
                      description: Dados da Inscrição Estadual
        "400":
          description: Algum parametro informado não é válido, verificar resposta
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
        "401":
          description: Não autorizado, verificar o cabeçalho do HTTP Authorization
          content: {}
        "403":
          description: Accesso proibido
          content: {}
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: Lista de Erros
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Código do erro
                          format: int32
                        message:
                          type: string
                          description: Mensagem contendo os detalhes do erro
                      description: Erro
                description: Lista de Erros
      security:
        - Authorization_Header:
            - apiKey
        - Authorization_QueryParam:
            - apiKey
    post:
      tags:
        - Companies State Taxes
      summary: Criar uma Inscrição Estadual
      description: "### Informações adicionais\r\n \r\nUtilize esta requisição para criar novas inscrição estadual na empresa para processar __Documentos Fiscais__.\r\n**Empresa** representa uma pessoa jurídica que precisa processar Documentos Fiscais.\r\n**Inscrição Estadual** representa os dados necessários sobre o cadastro Estadual (ICMS) que é preciso para processar Documentos Fiscais na SEFAZ."
      operationId: V2CompaniesByCompany_idStatetaxesPost
      parameters:
        - name: company_id
          in: path
          description: ID da Empresa
          required: true
          schema:
            type: string
      requestBody:
        description: Dados da Inscrição Estadual a ser criada
        content:
          application/json:
            schema:
              type: object
              properties:
                stateTax:
                  required:
                    - number
                    - serie
                    - taxNumber
                  type: object
                  properties:
                    code:
                      type: string
                      description: Código do Estado
                      enum:
                        - rO
                        - aC
                        - aM
                        - rR
                        - pA
                        - aP
                        - tO
                        - mA
                        - pI
                        - cE
                        - rN
                        - pB
                        - pE
                        - aL
                        - sE
                        - bA
                        - mG
                        - eS
                        - rJ
                        - sP
                        - pR
                        - sC
                        - rS
                        - mS
                        - mT
                        - gO
                        - dF
                        - eX
                        - nA
                    environmentType:
                      type: string
                      description: Ambiente
                      enum:
                        - none
                        - production
                        - test
                    taxNumber:
                      type: string
                      description: Inscrição Estadual
                    specialTaxRegime:
                      type: string
                      description: Tipo do regime especial de tributação
                      enum:
                        - automatico
                        - nenhum
                        - microempresaMunicipal
                        - estimativa
                        - sociedadeDeProfissionais
                        - cooperativa
                        - microempreendedorIndividual
                        - microempresarioEmpresaPequenoPorte
                    serie:
                      type: integer
                      description: Serie para a emissão NFe
                      format: int32
                    number:
                      type: integer
                      description: Número para a emissão NFe
                      format: int64
                    securityCredential:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Id do código de segurança do contribuinte
                          format: int32
                        code:
                          type: string
                          description: Código de segurança do contribuinte
                      description: Código de segurança do contribuinte (necessário para emissão de NFCe)
                    type:
                      type: string
                      description: Tipo de emissão que será emitido | 0 - Default, 1 - NFe, 2 - NFCe
                      enum:
                        - default
                        - nFe
                        - nFCe
                  description: Dados da Inscrição Estadual
              description: Dados para Criar uma Inscrição Estadual
          text/json:
            schema:
              type: object
              properties:
                stateTax:
                  required:
                    - number
                    - serie
                    - taxNumber
                  type: object
                  properties:
                    code:
                      type: string
                      description: Código do Estado
                      enum:
                        - rO
                        - aC
                        - aM
                        - rR
                        - pA
                        - aP
                        - tO
                        - mA
                        - pI
                        - cE
                        - rN
                        - pB
                        - pE
                        - aL
                        - sE
                        - bA
                        - mG
                        - eS
                        - rJ
                        - sP
                        - pR
                        - sC
                        - rS
                        - mS
                        - mT
                        - gO
                        - dF
                        - eX
                        - nA
                    environmentType:
                      type: string
                      description: Ambiente
                      enum:
                        - none
                        - production
                        - test
                    taxNumber:
                      type: string
                      description: Inscrição Estadual
                    specialTaxRegime:
                      type: string
                      description: Tipo do regime especial de tributação
                      enum:
                        - automatico
                        - nenhum
                        - microempresaMunicipal
                        - estimativa
                        - sociedadeDeProfissionais
                        - cooperativa
                        - microempreendedorIndividual
                        - microempresarioEmpresaPequenoPorte
                    serie:
                      type: integer
                      description: Serie para a emissão NFe
                      format: int32
                    number:
                      type: integer
                      description: Número para a emissão NFe
                      format: int64
                    securityCredential:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Id do código de segurança do contribuinte
                          format: int32
                        code:
                          type: string
                          description: Código de segurança do contribuinte
                      description: Código de segurança do contribuinte (necessário para emissão de NFCe)
                    type:
                      type: string
                      description: Tipo de emissão que será emitido | 0 - Default, 1 - NFe, 2 - NFCe
                      enum:
                        - default
                        - nFe
                        - nFCe
                  description: Dados da Inscrição Estadual
              description: Dados para Criar uma Inscrição Estadual
          application/*+json:
            schema:
              type: object
              properties:
                stateTax:
                  required:
                    - number
                    - serie
                    - taxNumber
                  type: object
                  properties:
                    code:
                      type: string
                      description: Código do Estado
                      enum:
                        - rO
                        - aC
                        - aM
                        - rR
                        - pA
                        - aP
                        - tO
                        - mA
                        - pI
                        - cE
                        - rN
                        - pB
                        - pE
                        - aL
                        - sE
                        - bA
                        - mG
                        - eS
                        - rJ
                        - sP
                        - pR
                        - sC
                        - rS
                        - mS
                        - mT
                        - gO
                        - dF
                        - eX
                        - nA
                    environmentType:
                      type: string
                      description: Ambiente
                      enum:
                        - none
                        - production
                        - test
                    taxNumber:
                      type: string
                      description: Inscrição Estadual
                    specialTaxRegime:
                      type: string
                      description: Tipo do regime especial de tributação
                      enum:
                        - automatico
                        - nenhum
                        - microempresaMunicipal
                        - estimativa
                        - sociedadeDeProfissionais
                        - cooperativa
                        - microempreendedorIndividual
                        - microempresarioEmpresaPequenoPorte
                    serie:
                      type: integer
                      description: Serie para a emissão NFe
                      format: int32
                    number:
                      type: integer
                      description: Número para a emissão NFe
                      format: int64
                    securityCredential:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Id do código de segurança do contribuinte
                          format: int32
                        code:
                          type: string
                          description: Código de segurança do contribuinte
                      description: Código de segurança do contribuinte (necessário para emissão de NFCe)
                    type:
                      type: string
                      description: Tipo de emissão que será emitido | 0 - Default, 1 - NFe, 2 - NFCe
                      enum:
                        - default
                        - nFe
                        - nFCe
                  description: Dados da Inscrição Estadual
              description: Dados para Criar uma Inscrição Estadual
        required: false
      responses:
        "200":
          description: Sucesso na criação da Inscrição Estadual
          content:
            application/json:
              schema:
                type: object
                properties:
                  stateTax:
                    required:
                      - number
                      - serie
                      - taxNumber
                    type: object
                    properties:
                      companyId:
                        type: string
                        description: Código da Empresa
                      accountId:
                        type: string
                        description: Account Id
                      status:
                        type: string
                        description: Status no sistema
                        enum:
                          - inactive
                          - none
                          - active
                      series:
                        type: array
                        description: Todas as séries para esta Inscrição Estadual
                        items:
                          type: integer
                          format: int32
                      createdOn:
                        type: string
                        description: Data de criação
                        format: date-time
                      modifiedOn:
                        type: string
                        description: Data de modificação
                        format: date-time
                      batchId:
                        type: integer
                        description: Número do Lote
                        format: int64
                      id:
                        type: string
                        description: Identificador (gerado automaticamente)
                      code:
                        type: string
                        description: Código do Estado
                        enum:
                          - rO
                          - aC
                          - aM
                          - rR
                          - pA
                          - aP
                          - tO
                          - mA
                          - pI
                          - cE
                          - rN
                          - pB
                          - pE
                          - aL
                          - sE
                          - bA
                          - mG
                          - eS
                          - rJ
                          - sP
                          - pR
                          - sC
                          - rS
                          - mS
                          - mT
                          - gO
                          - dF
                          - eX
                          - nA
                      environmentType:
                        type: string
                        description: Ambiente
                        enum:
                          - none
                          - production
                          - test
                      taxNumber:
                        type: string
                        description: Inscrição Estadual
                      specialTaxRegime:
                        type: string
                        description: Tipo do regime especial de tributação
                        enum:
                          - automatico
                          - nenhum
                          - microempresaMunicipal
                          - estimativa
                          - sociedadeDeProfissionais
                          - cooperativa
                          - microempreendedorIndividual
                          - microempresarioEmpresaPequenoPorte
                      serie:
                        type: integer
                        description: Serie para a emissão NFe
                        format: int32
                      number:
                        type: integer
                        description: Número para a emissão NFe
                        format: int64
                      securityCredential:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: Id do código de segurança do contribuinte
                            format: int32
                          code:
                            type: string
[...]
