openapi: 3.0.0
servers:
  - url: https://api.nfe.io
    description: Nota Fiscal de Serviço
  - url: https://api.nfse.io
    description: Webhooks
info:
  title: Nota Fiscal de Serviço
  version: v1
  description: "# Introdução\nSeja bem-vindo a documentação da API de Nota Fiscal de Serviço!\nNossa API foi criada utilizando o padrão REST que possibilita a integração de seu sistema ao nosso, sendo assim você também pode extender ou recriar as funcionalidades existentes na nossa plataforma, tudo isso consumindo a API que está documentada abaixo.\n# Como usar a API?\nLogo a seguir você encontrará todos os recursos e métodos suportados pela API, sendo que essa página possibilita que você teste os recursos e métodos diretamente através dela.\n# Autenticação\nVocê precisa de uma chave de API (API Key) para identificar a conta que está realizando solicitações para a API. \nPara isso você deve colocar sua chave de API no campo que se encontra topo desta página para que os métodos funcionem corretamente.\nNo seu código e integração temos suporte para autenticação de diversas formas sendo eles: \nHTTP Header (Authorization) ou HTTP Query String (api_key) nos dois modos passando o valor da sua chave de api (API Key).\n<!-- ReDoc-Inject: <security-definitions> -->\n"
tags:
  - name: Companies
    description: |
      :::warning Grupo em descontinuação

      Os endpoints deste grupo (`api.nfe.io/v1/companies/*`) fazem parte da **API legada de Nota Fiscal de Serviço v1** e estão em processo de descontinuação.

      A partir de agora, o gerenciamento de empresas é feito pela [**API de Contribuintes v2**](/docs/desenvolvedores/rest-api/contribuintes-v2), com a combinação de dois recursos:

      - **Empresa** ([API de Empresas v2](/docs/documentacao/gerenciamento-empresas/api-empresas))
      - **Inscrição Municipal** ([API de Inscrições Municipais v2](/docs/documentacao/gerenciamento-empresas/api-inscricoes-municipais)) — necessária para emissão de NFS-e

      :::

      ## Equivalência v1 → v2

      | Endpoint v1 (descontinuado) | Endpoint v2 equivalente |
      |---|---|
      | `GET /v1/companies` — Listar empresas | [Consultar todas as Empresas da Conta](/docs/desenvolvedores/rest-api/contribuintes-v2/consultar-todas-as-empresas-da-conta) |
      | `POST /v1/companies` — Criar empresa | [Criar uma Empresa](/docs/desenvolvedores/rest-api/contribuintes-v2/criar-uma-empresa) |
      | `GET /v1/companies/{id}` — Consultar empresa | [Consultar uma Empresa pelo ID](/docs/desenvolvedores/rest-api/contribuintes-v2/consultar-uma-empresa-pelo-id) |
      | `PUT /v1/companies/{id}` — Atualizar empresa | [Alterar uma Empresa pelo ID](/docs/desenvolvedores/rest-api/contribuintes-v2/alterar-uma-empresa-pelo-id) |
      | `DELETE /v1/companies/{id}` — Excluir empresa | [Excluir uma Empresa por ID](/docs/desenvolvedores/rest-api/contribuintes-v2/excluir-uma-empresa-por-id) |
      | `POST /v1/companies/{id}/certificate` — Upload de certificado | [Upload de um Certificado](/docs/desenvolvedores/rest-api/contribuintes-v2/upload-de-um-certificado) |

      > **Importante:** Para emitir NFS-e na nova API é preciso, além de criar a empresa, **vincular uma Inscrição Municipal**. Veja a [Visão Geral do Gerenciamento de Empresas](/docs/documentacao/gerenciamento-empresas/visao-geral) e o [guia de migração na release-note 2026.1](/docs/release-notes/2026-1-unificacao-api-contribuintes).
paths:
  /v1/companies:
    get:
      tags:
        - Companies
      summary: Listar as empresas ativas de uma conta
      description: |
        :::warning Endpoint em descontinuação

        Este endpoint faz parte da API legada (`api.nfe.io/v1/companies`) e **está em processo de descontinuação**.

        A nova forma de gerenciar empresas combina **dois recursos** da API de Contribuintes v2:

        - **Empresa** — [API de Empresas (v2)](/docs/documentacao/gerenciamento-empresas/api-empresas)
        - **Inscrição Municipal** — [API de Inscrições Municipais (v2)](/docs/documentacao/gerenciamento-empresas/api-inscricoes-municipais)

        Consulte a [Visão Geral do Gerenciamento de Empresas](/docs/documentacao/gerenciamento-empresas/visao-geral) e a [release-note 2026.1 — Unificação da API de Contribuintes](/docs/release-notes/2026-1-unificacao-api-contribuintes) para o guia de migração completo.

        :::
      operationId: Companies_Get
      parameters:
        - name: pageCount
          in: query
          description: Items por página
          required: false
          schema:
            type: integer
            format: int32
        - name: pageIndex
          in: query
          description: Número da página
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  companies:
                    type: array
                    items:
                      required:
                        - name
                        - federalTaxNumber
                        - email
                        - address
                        - openningDate
                        - taxRegime
                        - legalNature
                        - municipalTaxNumber
                      type: object
                      properties:
                        id:
                          description: Identificação
                          type: string
                        name:
                          description: Nome ou Razão Social
                          type: string
                        tradeName:
                          description: Nome fantasia
                          type: string
                        federalTaxNumber:
                          format: int64
                          description: CNPJ ou CPF
                          type: integer
                        email:
                          description: Email
                          type: string
                        address:
                          description: Endereço
                          required:
                            - country
                            - street
                            - number
                          type: object
                          properties:
                            country:
                              description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                              type: string
                            postalCode:
                              description: 'CEP (Exemplo: 99999-999)'
                              type: string
                            street:
                              description: Logradouro
                              type: string
                            number:
                              description: 'Número (Exemplo: 185 ou S/N)'
                              type: string
                            additionalInformation:
                              description: 'Complemento (Exemplo: BLC A; APT 10'
                              type: string
                            district:
                              description: Bairro
                              type: string
                            city:
                              description: Cidade
                              type: object
                              properties:
                                code:
                                  description: Código do IBGE
                                  type: string
                                name:
                                  description: Nome
                                  type: string
                            state:
                              description: Estado
                              type: string
                        openningDate:
                          format: date-time
                          description: Data abertura da empresa
                          type: string
                        taxRegime:
                          description: |
                            Código de Regime Tributário (CRT) da empresa.
                            Valores possíveis:
                            - `Isento`: Isento de tributação
                            - `MicroempreendedorIndividual`: Microempreendedor Individual (MEI)
                            - `SimplesNacional`: Simples Nacional
                            - `LucroPresumido`: Lucro Presumido (Regime Normal)
                            - `LucroReal`: Lucro Real (Regime Normal)
                          enum:
                            - Isento
                            - MicroempreendedorIndividual
                            - SimplesNacional
                            - LucroPresumido
                            - LucroReal
                          type: string
                        specialTaxRegime:
                          description: |
                            Regime Especial de Tributação (indRegTrib) — aplicável a prestadores de serviços.
                            Valores possíveis:
                            - `Automatico`: Determinação automática pela API conforme cadastro da empresa
                            - `Nenhum`: Sem regime especial de tributação
                            - `MicroempresaMunicipal`: Microempresa Municipal
                            - `Estimativa`: Estimativa fiscal
                            - `SociedadeDeProfissionais`: Sociedade de Profissionais
                            - `Cooperativa`: Cooperativa
                            - `MicroempreendedorIndividual`: Microempreendedor Individual (MEI)
                            - `MicroempresarioEmpresaPequenoPorte`: Microempresário e Empresa de Pequeno Porte (ME/EPP)
                          enum:
                            - Automatico
                            - Nenhum
                            - MicroempresaMunicipal
                            - Estimativa
                            - SociedadeDeProfissionais
                            - Cooperativa
                            - MicroempreendedorIndividual
                            - MicroempresarioEmpresaPequenoPorte
                          type: string
                        legalNature:
                          description: |
                            Código da Natureza Jurídica da empresa, conforme tabela do IBGE.
                            Valores possíveis (principais):
                            - `EmpresaPublica`: Empresa Pública
                            - `SociedadeEconomiaMista`: Sociedade de Economia Mista
                            - `SociedadeAnonimaAberta`: Sociedade Anônima Aberta
                            - `SociedadeAnonimaFechada`: Sociedade Anônima Fechada
                            - `SociedadeEmpresariaLimitada`: Sociedade Empresária Limitada (LTDA)
                            - `Empresario`: Empresário Individual
                            - `Cooperativa`: Cooperativa
                            - `EireliNaturezaEmpresaria`: EIRELI de Natureza Empresária
                            - `EireliNaturezaSimples`: EIRELI de Natureza Simples
                            - `ServicoNotarial`: Serviço Notarial e Registral (Cartórios)
                            - `FundacaoPrivada`: Fundação Privada
                            - `CondominioEdilicio`: Condomínio Edilício
                            - `OrganizacaoReligiosa`: Organização Religiosa
                            - `AssociacaoPrivada`: Associação Privada
                            - `PartidoPolitico`: Partido Político
                            - `EntidadeSindical`: Entidade Sindical
                            - `ComunidadeIndigena`: Comunidade Indígena
                            - `FundoPrivado`: Fundo Privado
                            - `EmpresaDomiciliadaExterior`: Empresa Domiciliada no Exterior
                          enum:
                            - EmpresaPublica
                            - SociedadeEconomiaMista
                            - SociedadeAnonimaAberta
                            - SociedadeAnonimaFechada
                            - SociedadeEmpresariaLimitada
                            - SociedadeEmpresariaEmNomeColetivo
                            - SociedadeEmpresariaEmComanditaSimples
                            - SociedadeEmpresariaEmComanditaporAcoes
                            - SociedadeemContaParticipacao
                            - Empresario
                            - Cooperativa
                            - ConsorcioSociedades
                            - GrupoSociedades
                            - EmpresaDomiciliadaExterior
                            - ClubeFundoInvestimento
                            - SociedadeSimplesPura
                            - SociedadeSimplesLimitada
                            - SociedadeSimplesEmNomeColetivo
                            - SociedadeSimplesEmComanditaSimples
                            - EmpresaBinacional
                            - ConsorcioEmpregadores
                            - ConsorcioSimples
                            - EireliNaturezaEmpresaria
                            - EireliNaturezaSimples
                            - ServicoNotarial
                            - FundacaoPrivada
                            - ServicoSocialAutonomo
                            - CondominioEdilicio
                            - ComissaoConciliacaoPrevia
                            - EntidadeMediacaoArbitragem
                            - PartidoPolitico
                            - EntidadeSindical
                            - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                            - FundacaoAssociacaoDomiciliadaExterior
                            - OrganizacaoReligiosa
                            - ComunidadeIndigena
                            - FundoPrivado
                            - AssociacaoPrivada
                          type: string
                        economicActivities:
                          description: Atividades da Empresa
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                enum:
                                  - Main
                                  - Secondary
                                type: string
                              code:
                                format: int32
                                type: integer
                        companyRegistryNumber:
                          format: int64
                          description: Número de Inscrição na Junta Comercial
                          type: integer
                        regionalTaxNumber:
                          format: int64
                          description: Número de Inscrição na SEFAZ (IE)
                          type: integer
                        municipalTaxNumber:
                          description: Número de Inscrição na Prefeitura (CCM)
                          type: string
                        rpsSerialNumber:
                          description: RPS número serie
                          type: string
                        rpsNumber:
                          format: int64
                          description: RPS número
                          type: integer
                        issRate:
                          format: double
                          description: Alíquota do ISS para Simples Nacional
                          type: number
                        environment:
                          description: |
                            Ambiente de processamento da nota fiscal.
                            Valores possíveis:
                            - `Development`: Desenvolvimento (uso interno/sandbox)
                            - `Production`: Produção — emite nota com validade fiscal
                            - `Staging`: Homologação — emite nota apenas para testes, sem validade fiscal
                          enum:
                            - Development
                            - Production
                            - Staging
                          type: string
                        fiscalStatus:
                          description: Status no sistema
                          enum:
                            - CityNotSupported
                            - Pending
                            - Inactive
                            - None
                            - Active
                          type: string
                        federalTaxDetermination:
                          description: Determinação de imposto federal
                          enum:
                            - NotInformed
                            - Default
                            - SimplesNacional
                          type: string
                        municipalTaxDetermination:
                          description: Determinação de imposto municipal
                          enum:
                            - NotInformed
                            - Default
                            - SimplesNacional
                          type: string
                        loginName:
                          description: Nome de login
                          type: string
                        loginPassword:
                          description: Senha de login
                          type: string
                        authIssueValue:
                          description: Valor de emissão de autorização
                          type: string
                        certificate:
                          description: Certificado
                          type: object
                          properties:
                            thumbprint:
                              description: Thumbprint certificado
                              type: string
                            modifiedOn:
                              format: date-time
                              description: Certificado alterado em
                              type: string
                            expiresOn:
                              format: date-time
                              description: Certificado expira em
                              type: string
                            status:
                              description: Status do certificado
                              enum:
                                - Overdue
                                - Pending
                                - None
                                - Active
                              type: string
                        createdOn:
                          format: date-time
                          description: Data de criação
                          type: string
                        modifiedOn:
                          format: date-time
                          description: Data da última modificação
                          type: string
                  totalResults:
                    format: int64
                    type: integer
                  totalPages:
                    format: int32
                    type: integer
                  page:
                    format: int32
                    type: integer
        "400":
          description: Algum parametro informado não é válido, verificar resposta
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "401":
          description: API Key da conta não é valida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
    post:
      tags:
        - Companies
      summary: Criar uma empresa
      description: |
        :::warning Endpoint em descontinuação

        Este endpoint faz parte da API legada (`api.nfe.io/v1/companies`) e **está em processo de descontinuação**.

        A nova forma de gerenciar empresas combina **dois recursos** da API de Contribuintes v2:

        - **Empresa** — [API de Empresas (v2)](/docs/documentacao/gerenciamento-empresas/api-empresas)
        - **Inscrição Municipal** — [API de Inscrições Municipais (v2)](/docs/documentacao/gerenciamento-empresas/api-inscricoes-municipais)

        Consulte a [Visão Geral do Gerenciamento de Empresas](/docs/documentacao/gerenciamento-empresas/visao-geral) e a [release-note 2026.1 — Unificação da API de Contribuintes](/docs/release-notes/2026-1-unificacao-api-contribuintes) para o guia de migração completo.

        :::
      operationId: Companies_Post
      requestBody:
        description: Dados da empresa
        required: true
        content:
          application/json:
            schema:
              required:
                - name
                - federalTaxNumber
                - email
                - address
                - openningDate
                - taxRegime
                - legalNature
                - municipalTaxNumber
              type: object
              properties:
                id:
                  description: Identificação
                  type: string
                name:
                  description: Nome ou Razão Social
                  type: string
                tradeName:
                  description: Nome fantasia
                  type: string
                federalTaxNumber:
                  format: int64
                  description: CNPJ ou CPF
                  type: integer
                email:
                  description: Email
                  type: string
                address:
                  description: Endereço
                  required:
                    - country
                    - street
                    - number
                  type: object
                  properties:
                    country:
                      description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                      type: string
                    postalCode:
                      description: 'CEP (Exemplo: 99999-999)'
                      type: string
                    street:
                      description: Logradouro
                      type: string
                    number:
                      description: 'Número (Exemplo: 185 ou S/N)'
                      type: string
                    additionalInformation:
                      description: 'Complemento (Exemplo: BLC A; APT 10'
                      type: string
                    district:
                      description: Bairro
                      type: string
                    city:
                      description: Cidade
                      type: object
                      properties:
                        code:
                          description: Código do IBGE
                          type: string
                        name:
                          description: Nome
                          type: string
                    state:
                      description: Estado
                      type: string
                openningDate:
                  format: date-time
                  description: Data abertura da empresa
                  type: string
                taxRegime:
                  description: |
                    Código de Regime Tributário (CRT) da empresa.
                    Valores possíveis:
                    - `Isento`: Isento de tributação
                    - `MicroempreendedorIndividual`: Microempreendedor Individual (MEI)
                    - `SimplesNacional`: Simples Nacional
                    - `LucroPresumido`: Lucro Presumido (Regime Normal)
                    - `LucroReal`: Lucro Real (Regime Normal)
                  enum:
                    - Isento
                    - MicroempreendedorIndividual
                    - SimplesNacional
                    - LucroPresumido
                    - LucroReal
                  type: string
                specialTaxRegime:
                  description: |
                    Regime Especial de Tributação (indRegTrib) — aplicável a prestadores de serviços.
                    Valores possíveis:
                    - `Automatico`: Determinação automática pela API conforme cadastro da empresa
                    - `Nenhum`: Sem regime especial de tributação
                    - `MicroempresaMunicipal`: Microempresa Municipal
                    - `Estimativa`: Estimativa fiscal
                    - `SociedadeDeProfissionais`: Sociedade de Profissionais
                    - `Cooperativa`: Cooperativa
                    - `MicroempreendedorIndividual`: Microempreendedor Individual (MEI)
                    - `MicroempresarioEmpresaPequenoPorte`: Microempresário e Empresa de Pequeno Porte (ME/EPP)
                  enum:
                    - Automatico
                    - Nenhum
                    - MicroempresaMunicipal
                    - Estimativa
                    - SociedadeDeProfissionais
                    - Cooperativa
                    - MicroempreendedorIndividual
                    - MicroempresarioEmpresaPequenoPorte
                  type: string
                legalNature:
                  description: |
                    Código da Natureza Jurídica da empresa, conforme tabela do IBGE.
                    Valores possíveis (principais):
                    - `EmpresaPublica`: Empresa Pública
                    - `SociedadeEconomiaMista`: Sociedade de Economia Mista
                    - `SociedadeAnonimaAberta`: Sociedade Anônima Aberta
                    - `SociedadeAnonimaFechada`: Sociedade Anônima Fechada
                    - `SociedadeEmpresariaLimitada`: Sociedade Empresária Limitada (LTDA)
                    - `Empresario`: Empresário Individual
                    - `Cooperativa`: Cooperativa
                    - `EireliNaturezaEmpresaria`: EIRELI de Natureza Empresária
                    - `EireliNaturezaSimples`: EIRELI de Natureza Simples
                    - `ServicoNotarial`: Serviço Notarial e Registral (Cartórios)
                    - `FundacaoPrivada`: Fundação Privada
                    - `CondominioEdilicio`: Condomínio Edilício
                    - `OrganizacaoReligiosa`: Organização Religiosa
                    - `AssociacaoPrivada`: Associação Privada
                    - `PartidoPolitico`: Partido Político
                    - `EntidadeSindical`: Entidade Sindical
                    - `ComunidadeIndigena`: Comunidade Indígena
                    - `FundoPrivado`: Fundo Privado
                    - `EmpresaDomiciliadaExterior`: Empresa Domiciliada no Exterior
                  enum:
                    - EmpresaPublica
                    - SociedadeEconomiaMista
                    - SociedadeAnonimaAberta
                    - SociedadeAnonimaFechada
                    - SociedadeEmpresariaLimitada
                    - SociedadeEmpresariaEmNomeColetivo
                    - SociedadeEmpresariaEmComanditaSimples
                    - SociedadeEmpresariaEmComanditaporAcoes
                    - SociedadeemContaParticipacao
                    - Empresario
                    - Cooperativa
                    - ConsorcioSociedades
                    - GrupoSociedades
                    - EmpresaDomiciliadaExterior
                    - ClubeFundoInvestimento
                    - SociedadeSimplesPura
                    - SociedadeSimplesLimitada
                    - SociedadeSimplesEmNomeColetivo
                    - SociedadeSimplesEmComanditaSimples
                    - EmpresaBinacional
                    - ConsorcioEmpregadores
                    - ConsorcioSimples
                    - EireliNaturezaEmpresaria
                    - EireliNaturezaSimples
                    - ServicoNotarial
                    - FundacaoPrivada
                    - ServicoSocialAutonomo
                    - CondominioEdilicio
                    - ComissaoConciliacaoPrevia
                    - EntidadeMediacaoArbitragem
                    - PartidoPolitico
                    - EntidadeSindical
                    - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                    - FundacaoAssociacaoDomiciliadaExterior
                    - OrganizacaoReligiosa
                    - ComunidadeIndigena
                    - FundoPrivado
                    - AssociacaoPrivada
                  type: string
                economicActivities:
                  description: Atividades da Empresa
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        enum:
                          - Main
                          - Secondary
                        type: string
                      code:
                        format: int32
                        type: integer
                companyRegistryNumber:
                  format: int64
                  description: Número de Inscrição na Junta Comercial
                  type: integer
                regionalTaxNumber:
                  format: int64
                  description: Número de Inscrição na SEFAZ (IE)
                  type: integer
                municipalTaxNumber:
                  description: Número de Inscrição na Prefeitura (CCM)
                  type: string
                rpsSerialNumber:
                  description: RPS número serie
                  type: string
                rpsNumber:
                  format: int64
                  description: RPS número
                  type: integer
                issRate:
                  format: double
                  description: Alíquota do ISS para Simples Nacional
                  type: number
                environment:
                  description: |
                    Ambiente de processamento da nota fiscal.
                    Valores possíveis:
                    - `Development`: Desenvolvimento (uso interno/sandbox)
                    - `Production`: Produção — emite nota com validade fiscal
                    - `Staging`: Homologação — emite nota apenas para testes, sem validade fiscal
                  enum:
                    - Development
                    - Production
                    - Staging
                  type: string
                fiscalStatus:
                  description: Status no sistema
                  enum:
                    - CityNotSupported
                    - Pending
                    - Inactive
                    - None
                    - Active
                  type: string
                federalTaxDetermination:
                  description: Determinação de imposto federal
                  enum:
                    - NotInformed
                    - Default
                    - SimplesNacional
                  type: string
                municipalTaxDetermination:
                  description: Determinação de imposto municipal
                  enum:
                    - NotInformed
                    - Default
                    - SimplesNacional
                  type: string
                loginName:
                  description: Nome de login
                  type: string
                loginPassword:
                  description: Senha de login
                  type: string
                authIssueValue:
                  description: Valor de emissão de autorização
                  type: string
                certificate:
                  description: Certificado
                  type: object
                  properties:
                    thumbprint:
                      description: Thumbprint certificado
                      type: string
                    modifiedOn:
                      format: date-time
                      description: Certificado alterado em
                      type: string
                    expiresOn:
                      format: date-time
                      description: Certificado expira em
                      type: string
                    status:
                      description: Status do certificado
                      enum:
                        - Overdue
                        - Pending
                        - None
                        - Active
                      type: string
                createdOn:
                  format: date-time
                  description: Data de criação
                  type: string
                modifiedOn:
                  format: date-time
                  description: Data da última modificação
                  type: string
      responses:
        "201":
          description: Sucesso na criação da empresa
          content:
            application/json:
              schema:
                type: object
                properties:
                  companies:
                    required:
                      - name
                      - federalTaxNumber
                      - email
                      - address
                      - openningDate
                      - taxRegime
                      - legalNature
                      - municipalTaxNumber
                    type: object
                    properties:
                      id:
                        description: Identificação
                        type: string
                      name:
                        description: Nome ou Razão Social
                        type: string
                      tradeName:
                        description: Nome fantasia
                        type: string
                      federalTaxNumber:
                        format: int64
                        description: CNPJ ou CPF
                        type: integer
                      email:
                        description: Email
                        type: string
                      address:
                        description: Endereço
                        required:
                          - country
                          - street
                          - number
                        type: object
                        properties:
                          country:
                            description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                            type: string
                          postalCode:
                            description: 'CEP (Exemplo: 99999-999)'
                            type: string
                          street:
                            description: Logradouro
                            type: string
                          number:
                            description: 'Número (Exemplo: 185 ou S/N)'
                            type: string
                          additionalInformation:
                            description: 'Complemento (Exemplo: BLC A; APT 10'
                            type: string
                          district:
                            description: Bairro
                            type: string
                          city:
                            description: Cidade
                            type: object
                            properties:
                              code:
                                description: Código do IBGE
                                type: string
                              name:
                                description: Nome
                                type: string
                          state:
                            description: Estado
                            type: string
                      openningDate:
                        format: date-time
                        description: Data abertura da empresa
                        type: string
                      taxRegime:
                        description: |
                          Código de Regime Tributário (CRT) da empresa.
                          Valores possíveis:
                          - `Isento`: Isento de tributação
                          - `MicroempreendedorIndividual`: Microempreendedor Individual (MEI)
                          - `SimplesNacional`: Simples Nacional
                          - `LucroPresumido`: Lucro Presumido (Regime Normal)
                          - `LucroReal`: Lucro Real (Regime Normal)
                        enum:
                          - Isento
                          - MicroempreendedorIndividual
                          - SimplesNacional
                          - LucroPresumido
                          - LucroReal
                        type: string
                      specialTaxRegime:
                        description: |
                          Regime Especial de Tributação (indRegTrib) — aplicável a prestadores de serviços.
                          Valores possíveis:
                          - `Automatico`: Determinação automática pela API conforme cadastro da empresa
                          - `Nenhum`: Sem regime especial de tributação
                          - `MicroempresaMunicipal`: Microempresa Municipal
                          - `Estimativa`: Estimativa fiscal
                          - `SociedadeDeProfissionais`: Sociedade de Profissionais
                          - `Cooperativa`: Cooperativa
                          - `MicroempreendedorIndividual`: Microempreendedor Individual (MEI)
                          - `MicroempresarioEmpresaPequenoPorte`: Microempresário e Empresa de Pequeno Porte (ME/EPP)
                        enum:
                          - Automatico
                          - Nenhum
                          - MicroempresaMunicipal
                          - Estimativa
                          - SociedadeDeProfissionais
                          - Cooperativa
                          - MicroempreendedorIndividual
                          - MicroempresarioEmpresaPequenoPorte
                        type: string
                      legalNature:
                        description: |
                          Código da Natureza Jurídica da empresa, conforme tabela do IBGE.
                          Valores possíveis (principais):
                          - `EmpresaPublica`: Empresa Pública
                          - `SociedadeEconomiaMista`: Sociedade de Economia Mista
                          - `SociedadeAnonimaAberta`: Sociedade Anônima Aberta
                          - `SociedadeAnonimaFechada`: Sociedade Anônima Fechada
                          - `SociedadeEmpresariaLimitada`: Sociedade Empresária Limitada (LTDA)
                          - `Empresario`: Empresário Individual
                          - `Cooperativa`: Cooperativa
                          - `EireliNaturezaEmpresaria`: EIRELI de Natureza Empresária
                          - `EireliNaturezaSimples`: EIRELI de Natureza Simples
                          - `ServicoNotarial`: Serviço Notarial e Registral (Cartórios)
                          - `FundacaoPrivada`: Fundação Privada
                          - `CondominioEdilicio`: Condomínio Edilício
                          - `OrganizacaoReligiosa`: Organização Religiosa
                          - `AssociacaoPrivada`: Associação Privada
                          - `PartidoPolitico`: Partido Político
                          - `EntidadeSindical`: Entidade Sindical
                          - `ComunidadeIndigena`: Comunidade Indígena
                          - `FundoPrivado`: Fundo Privado
                          - `EmpresaDomiciliadaExterior`: Empresa Domiciliada no Exterior
                        enum:
                          - EmpresaPublica
                          - SociedadeEconomiaMista
                          - SociedadeAnonimaAberta
                          - SociedadeAnonimaFechada
                          - SociedadeEmpresariaLimitada
                          - SociedadeEmpresariaEmNomeColetivo
                          - SociedadeEmpresariaEmComanditaSimples
                          - SociedadeEmpresariaEmComanditaporAcoes
                          - SociedadeemContaParticipacao
                          - Empresario
                          - Cooperativa
                          - ConsorcioSociedades
                          - GrupoSociedades
                          - EmpresaDomiciliadaExterior
                          - ClubeFundoInvestimento
                          - SociedadeSimplesPura
                          - SociedadeSimplesLimitada
                          - SociedadeSimplesEmNomeColetivo
                          - SociedadeSimplesEmComanditaSimples
                          - EmpresaBinacional
                          - ConsorcioEmpregadores
                          - ConsorcioSimples
                          - EireliNaturezaEmpresaria
                          - EireliNaturezaSimples
                          - ServicoNotarial
                          - FundacaoPrivada
                          - ServicoSocialAutonomo
                          - CondominioEdilicio
                          - ComissaoConciliacaoPrevia
                          - EntidadeMediacaoArbitragem
                          - PartidoPolitico
                          - EntidadeSindical
                          - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                          - FundacaoAssociacaoDomiciliadaExterior
                          - OrganizacaoReligiosa
                          - ComunidadeIndigena
                          - FundoPrivado
                          - AssociacaoPrivada
                        type: string
                      economicActivities:
                        description: Atividades da Empresa
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              enum:
                                - Main
                                - Secondary
                              type: string
                            code:
                              format: int32
                              type: integer
                      companyRegistryNumber:
                        format: int64
                        description: Número de Inscrição na Junta Comercial
                        type: integer
                      regionalTaxNumber:
                        format: int64
                        description: Número de Inscrição na SEFAZ (IE)
                        type: integer
                      municipalTaxNumber:
                        description: Número de Inscrição na Prefeitura (CCM)
                        type: string
                      rpsSerialNumber:
                        description: RPS número serie
                        type: string
                      rpsNumber:
                        format: int64
                        description: RPS número
                        type: integer
                      issRate:
                        format: double
                        description: Alíquota do ISS para Simples Nacional
                        type: number
                      environment:
                        description: |
                          Ambiente de processamento da nota fiscal.
                          Valores possíveis:
                          - `Development`: Desenvolvimento (uso interno/sandbox)
                          - `Production`: Produção — emite nota com validade fiscal
                          - `Staging`: Homologação — emite nota apenas para testes, sem validade fiscal
                        enum:
                          - Development
                          - Production
                          - Staging
                        type: string
                      fiscalStatus:
                        description: Status no sistema
                        enum:
                          - CityNotSupported
                          - Pending
                          - Inactive
                          - None
                          - Active
                        type: string
                      federalTaxDetermination:
                        description: Determinação de imposto federal
                        enum:
                          - NotInformed
                          - Default
                          - SimplesNacional
                        type: string
                      municipalTaxDetermination:
                        description: Determinação de imposto municipal
                        enum:
                          - NotInformed
                          - Default
                          - SimplesNacional
                        type: string
                      loginName:
                        description: Nome de login
                        type: string
                      loginPassword:
                        description: Senha de login
                        type: string
                      authIssueValue:
                        description: Valor de emissão de autorização
                        type: string
                      certificate:
                        description: Certificado
                        type: object
                        properties:
                          thumbprint:
                            description: Thumbprint certificado
                            type: string
                          modifiedOn:
                            format: date-time
                            description: Certificado alterado em
                            type: string
                          expiresOn:
                            format: date-time
                            description: Certificado expira em
                            type: string
                          status:
                            description: Status do certificado
                            enum:
                              - Overdue
                              - Pending
                              - None
                              - Active
                            type: string
                      createdOn:
                        format: date-time
                        description: Data de criação
                        type: string
                      modifiedOn:
                        format: date-time
                        description: Data da última modificação
                        type: string
        "400":
          description: Algum parametro informado não é válido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "401":
          description: API Key da conta não é valida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "409":
          description: Já existe uma empresa com o CNPJ informado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id_or_tax_number}:
    get:
      tags:
        - Companies
      summary: Obter os detalhes de uma empresa
      description: |
        :::warning Endpoint em descontinuação

        Este endpoint faz parte da API legada (`api.nfe.io/v1/companies`) e **está em processo de descontinuação**.

        A nova forma de gerenciar empresas combina **dois recursos** da API de Contribuintes v2:

        - **Empresa** — [API de Empresas (v2)](/docs/documentacao/gerenciamento-empresas/api-empresas)
        - **Inscrição Municipal** — [API de Inscrições Municipais (v2)](/docs/documentacao/gerenciamento-empresas/api-inscricoes-municipais)

        Consulte a [Visão Geral do Gerenciamento de Empresas](/docs/documentacao/gerenciamento-empresas/visao-geral) e a [release-note 2026.1 — Unificação da API de Contribuintes](/docs/release-notes/2026-1-unificacao-api-contribuintes) para o guia de migração completo.

        :::
      operationId: Companies_idGet
      parameters:
        - name: company_id_or_tax_number
          in: path
          description: ID da empresa ou Inscrição Federal (CNPJ)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso na requisição
          content:
            application/json:
              schema:
                type: object
                properties:
                  companies:
                    required:
                      - name
                      - federalTaxNumber
                      - email
                      - address
                      - openningDate
                      - taxRegime
                      - legalNature
                      - municipalTaxNumber
                    type: object
                    properties:
                      id:
                        description: Identificação
                        type: string
                      name:
                        description: Nome ou Razão Social
                        type: string
                      tradeName:
                        description: Nome fantasia
                        type: string
                      federalTaxNumber:
                        format: int64
                        description: CNPJ ou CPF
                        type: integer
                      email:
                        description: Email
                        type: string
                      address:
                        description: Endereço
                        required:
                          - country
                          - street
                          - number
                        type: object
                        properties:
                          country:
                            description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                            type: string
                          postalCode:
                            description: 'CEP (Exemplo: 99999-999)'
                            type: string
                          street:
                            description: Logradouro
                            type: string
                          number:
                            description: 'Número (Exemplo: 185 ou S/N)'
                            type: string
                          additionalInformation:
                            description: 'Complemento (Exemplo: BLC A; APT 10'
                            type: string
                          district:
                            description: Bairro
                            type: string
                          city:
                            description: Cidade
                            type: object
                            properties:
                              code:
                                description: Código do IBGE
                                type: string
                              name:
                                description: Nome
                                type: string
                          state:
                            description: Estado
                            type: string
                      openningDate:
                        format: date-time
                        description: Data abertura da empresa
                        type: string
                      taxRegime:
                        description: |
                          Código de Regime Tributário (CRT) da empresa.
                          Valores possíveis:
                          - `Isento`: Isento de tributação
                          - `MicroempreendedorIndividual`: Microempreendedor Individual (MEI)
                          - `SimplesNacional`: Simples Nacional
                          - `LucroPresumido`: Lucro Presumido (Regime Normal)
                          - `LucroReal`: Lucro Real (Regime Normal)
                        enum:
                          - Isento
                          - MicroempreendedorIndividual
                          - SimplesNacional
                          - LucroPresumido
                          - LucroReal
                        type: string
                      specialTaxRegime:
                        description: |
                          Regime Especial de Tributação (indRegTrib) — aplicável a prestadores de serviços.
                          Valores possíveis:
                          - `Automatico`: Determinação automática pela API conforme cadastro da empresa
                          - `Nenhum`: Sem regime especial de tributação
                          - `MicroempresaMunicipal`: Microempresa Municipal
                          - `Estimativa`: Estimativa fiscal
                          - `SociedadeDeProfissionais`: Sociedade de Profissionais
                          - `Cooperativa`: Cooperativa
                          - `MicroempreendedorIndividual`: Microempreendedor Individual (MEI)
                          - `MicroempresarioEmpresaPequenoPorte`: Microempresário e Empresa de Pequeno Porte (ME/EPP)
                        enum:
                          - Automatico
                          - Nenhum
                          - MicroempresaMunicipal
                          - Estimativa
                          - SociedadeDeProfissionais
                          - Cooperativa
                          - MicroempreendedorIndividual
                          - MicroempresarioEmpresaPequenoPorte
                        type: string
                      legalNature:
                        description: |
                          Código da Natureza Jurídica da empresa, conforme tabela do IBGE.
                          Valores possíveis (principais):
                          - `EmpresaPublica`: Empresa Pública
                          - `SociedadeEconomiaMista`: Sociedade de Economia Mista
                          - `SociedadeAnonimaAberta`: Sociedade Anônima Aberta
                          - `SociedadeAnonimaFechada`: Sociedade Anônima Fechada
                          - `SociedadeEmpresariaLimitada`: Sociedade Empresária Limitada (LTDA)
                          - `Empresario`: Empresário Individual
                          - `Cooperativa`: Cooperativa
                          - `EireliNaturezaEmpresaria`: EIRELI de Natureza Empresária
                          - `EireliNaturezaSimples`: EIRELI de Natureza Simples
                          - `ServicoNotarial`: Serviço Notarial e Registral (Cartórios)
                          - `FundacaoPrivada`: Fundação Privada
                          - `CondominioEdilicio`: Condomínio Edilício
                          - `OrganizacaoReligiosa`: Organização Religiosa
                          - `AssociacaoPrivada`: Associação Privada
                          - `PartidoPolitico`: Partido Político
                          - `EntidadeSindical`: Entidade Sindical
                          - `ComunidadeIndigena`: Comunidade Indígena
                          - `FundoPrivado`: Fundo Privado
                          - `EmpresaDomiciliadaExterior`: Empresa Domiciliada no Exterior
                        enum:
                          - EmpresaPublica
                          - SociedadeEconomiaMista
                          - SociedadeAnonimaAberta
                          - SociedadeAnonimaFechada
                          - SociedadeEmpresariaLimitada
                          - SociedadeEmpresariaEmNomeColetivo
                          - SociedadeEmpresariaEmComanditaSimples
                          - SociedadeEmpresariaEmComanditaporAcoes
                          - SociedadeemContaParticipacao
                          - Empresario
                          - Cooperativa
                          - ConsorcioSociedades
                          - GrupoSociedades
                          - EmpresaDomiciliadaExterior
                          - ClubeFundoInvestimento
                          - SociedadeSimplesPura
                          - SociedadeSimplesLimitada
                          - SociedadeSimplesEmNomeColetivo
                          - SociedadeSimplesEmComanditaSimples
                          - EmpresaBinacional
                          - ConsorcioEmpregadores
                          - ConsorcioSimples
                          - EireliNaturezaEmpresaria
                          - EireliNaturezaSimples
                          - ServicoNotarial
                          - FundacaoPrivada
                          - ServicoSocialAutonomo
                          - CondominioEdilicio
                          - ComissaoConciliacaoPrevia
                          - EntidadeMediacaoArbitragem
                          - PartidoPolitico
                          - EntidadeSindical
                          - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                          - FundacaoAssociacaoDomiciliadaExterior
                          - OrganizacaoReligiosa
                          - ComunidadeIndigena
                          - FundoPrivado
                          - AssociacaoPrivada
                        type: string
                      economicActivities:
                        description: Atividades da Empresa
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              enum:
                                - Main
                                - Secondary
                              type: string
                            code:
                              format: int32
                              type: integer
                      companyRegistryNumber:
                        format: int64
                        description: Número de Inscrição na Junta Comercial
                        type: integer
                      regionalTaxNumber:
                        format: int64
                        description: Número de Inscrição na SEFAZ (IE)
                        type: integer
                      municipalTaxNumber:
                        description: Número de Inscrição na Prefeitura (CCM)
                        type: string
                      rpsSerialNumber:
                        description: RPS número serie
                        type: string
                      rpsNumber:
                        format: int64
                        description: RPS número
                        type: integer
                      issRate:
                        format: double
                        description: Alíquota do ISS para Simples Nacional
                        type: number
                      environment:
                        description: |
                          Ambiente de processamento da nota fiscal.
                          Valores possíveis:
                          - `Development`: Desenvolvimento (uso interno/sandbox)
                          - `Production`: Produção — emite nota com validade fiscal
                          - `Staging`: Homologação — emite nota apenas para testes, sem validade fiscal
                        enum:
                          - Development
                          - Production
                          - Staging
                        type: string
                      fiscalStatus:
                        description: Status no sistema
                        enum:
                          - CityNotSupported
                          - Pending
                          - Inactive
                          - None
                          - Active
                        type: string
                      federalTaxDetermination:
                        description: Determinação de imposto federal
                        enum:
                          - NotInformed
                          - Default
                          - SimplesNacional
                        type: string
                      municipalTaxDetermination:
                        description: Determinação de imposto municipal
                        enum:
                          - NotInformed
                          - Default
                          - SimplesNacional
                        type: string
                      loginName:
                        description: Nome de login
                        type: string
                      loginPassword:
                        description: Senha de login
                        type: string
                      authIssueValue:
                        description: Valor de emissão de autorização
                        type: string
                      certificate:
                        description: Certificado
                        type: object
                        properties:
                          thumbprint:
                            description: Thumbprint certificado
                            type: string
                          modifiedOn:
                            format: date-time
                            description: Certificado alterado em
                            type: string
                          expiresOn:
                            format: date-time
                            description: Certificado expira em
                            type: string
                          status:
                            description: Status do certificado
                            enum:
                              - Overdue
                              - Pending
                              - None
                              - Active
                            type: string
                      createdOn:
                        format: date-time
                        description: Data de criação
                        type: string
                      modifiedOn:
                        format: date-time
                        description: Data da última modificação
                        type: string
        "400":
          description: Algum parametro informado não é válido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "401":
          description: API Key da conta não é valida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id}:
    put:
      tags:
        - Companies
      summary: Atualizar uma empresa
      description: |
        :::warning Endpoint em descontinuação

        Este endpoint faz parte da API legada (`api.nfe.io/v1/companies`) e **está em processo de descontinuação**.

        A nova forma de gerenciar empresas combina **dois recursos** da API de Contribuintes v2:

        - **Empresa** — [API de Empresas (v2)](/docs/documentacao/gerenciamento-empresas/api-empresas)
        - **Inscrição Municipal** — [API de Inscrições Municipais (v2)](/docs/documentacao/gerenciamento-empresas/api-inscricoes-municipais)

        Consulte a [Visão Geral do Gerenciamento de Empresas](/docs/documentacao/gerenciamento-empresas/visao-geral) e a [release-note 2026.1 — Unificação da API de Contribuintes](/docs/release-notes/2026-1-unificacao-api-contribuintes) para o guia de migração completo.

        :::
      operationId: Companies_Put
      requestBody:
        description: Dados da empresa
        required: true
        content:
          application/json:
            schema:
              required:
                - name
                - federalTaxNumber
                - email
                - address
                - openningDate
                - taxRegime
                - legalNature
                - municipalTaxNumber
              type: object
              properties:
                id:
                  description: Identificação
                  type: string
                name:
                  description: Nome ou Razão Social
                  type: string
                tradeName:
                  description: Nome fantasia
                  type: string
                federalTaxNumber:
                  format: int64
                  description: CNPJ ou CPF
                  type: integer
                email:
                  description: Email
                  type: string
                address:
                  description: Endereço
                  required:
                    - country
                    - street
                    - number
                  type: object
                  properties:
                    country:
                      description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                      type: string
                    postalCode:
                      description: 'CEP (Exemplo: 99999-999)'
                      type: string
                    street:
                      description: Logradouro
                      type: string
                    number:
                      description: 'Número (Exemplo: 185 ou S/N)'
                      type: string
                    additionalInformation:
                      description: 'Complemento (Exemplo: BLC A; APT 10'
                      type: string
                    district:
                      description: Bairro
                      type: string
                    city:
                      description: Cidade
                      type: object
                      properties:
                        code:
                          description: Código do IBGE
                          type: string
                        name:
                          description: Nome
                          type: string
                    state:
                      description: Estado
                      type: string
                openningDate:
                  format: date-time
                  description: Data abertura da empresa
                  type: string
                taxRegime:
                  description: |
                    Código de Regime Tributário (CRT) da empresa.
                    Valores possíveis:
                    - `Isento`: Isento de tributação
                    - `MicroempreendedorIndividual`: Microempreendedor Individual (MEI)
                    - `SimplesNacional`: Simples Nacional
                    - `LucroPresumido`: Lucro Presumido (Regime Normal)
                    - `LucroReal`: Lucro Real (Regime Normal)
                  enum:
                    - Isento
                    - MicroempreendedorIndividual
                    - SimplesNacional
                    - LucroPresumido
                    - LucroReal
                  type: string
                specialTaxRegime:
                  description: |
                    Regime Especial de Tributação (indRegTrib) — aplicável a prestadores de serviços.
                    Valores possíveis:
                    - `Automatico`: Determinação automática pela API conforme cadastro da empresa
                    - `Nenhum`: Sem regime especial de tributação
                    - `MicroempresaMunicipal`: Microempresa Municipal
                    - `Estimativa`: Estimativa fiscal
                    - `SociedadeDeProfissionais`: Sociedade de Profissionais
                    - `Cooperativa`: Cooperativa
                    - `MicroempreendedorIndividual`: Microempreendedor Individual (MEI)
                    - `MicroempresarioEmpresaPequenoPorte`: Microempresário e Empresa de Pequeno Porte (ME/EPP)
                  enum:
                    - Automatico
                    - Nenhum
                    - MicroempresaMunicipal
                    - Estimativa
                    - SociedadeDeProfissionais
                    - Cooperativa
                    - MicroempreendedorIndividual
                    - MicroempresarioEmpresaPequenoPorte
                  type: string
                legalNature:
                  description: |
                    Código da Natureza Jurídica da empresa, conforme tabela do IBGE.
                    Valores possíveis (principais):
                    - `EmpresaPublica`: Empresa Pública
                    - `SociedadeEconomiaMista`: Sociedade de Economia Mista
                    - `SociedadeAnonimaAberta`: Sociedade Anônima Aberta
                    - `SociedadeAnonimaFechada`: Sociedade Anônima Fechada
                    - `SociedadeEmpresariaLimitada`: Sociedade Empresária Limitada (LTDA)
                    - `Empresario`: Empresário Individual
                    - `Cooperativa`: Cooperativa
                    - `EireliNaturezaEmpresaria`: EIRELI de Natureza Empresária
                    - `EireliNaturezaSimples`: EIRELI de Natureza Simples
                    - `ServicoNotarial`: Serviço Notarial e Registral (Cartórios)
                    - `FundacaoPrivada`: Fundação Privada
                    - `CondominioEdilicio`: Condomínio Edilício
                    - `OrganizacaoReligiosa`: Organização Religiosa
                    - `AssociacaoPrivada`: Associação Privada
                    - `PartidoPolitico`: Partido Político
                    - `EntidadeSindical`: Entidade Sindical
                    - `ComunidadeIndigena`: Comunidade Indígena
                    - `FundoPrivado`: Fundo Privado
                    - `EmpresaDomiciliadaExterior`: Empresa Domiciliada no Exterior
                  enum:
                    - EmpresaPublica
                    - SociedadeEconomiaMista
                    - SociedadeAnonimaAberta
                    - SociedadeAnonimaFechada
                    - SociedadeEmpresariaLimitada
                    - SociedadeEmpresariaEmNomeColetivo
                    - SociedadeEmpresariaEmComanditaSimples
                    - SociedadeEmpresariaEmComanditaporAcoes
                    - SociedadeemContaParticipacao
                    - Empresario
                    - Cooperativa
                    - ConsorcioSociedades
                    - GrupoSociedades
                    - EmpresaDomiciliadaExterior
                    - ClubeFundoInvestimento
                    - SociedadeSimplesPura
                    - SociedadeSimplesLimitada
                    - SociedadeSimplesEmNomeColetivo
                    - SociedadeSimplesEmComanditaSimples
                    - EmpresaBinacional
                    - ConsorcioEmpregadores
                    - ConsorcioSimples
                    - EireliNaturezaEmpresaria
                    - EireliNaturezaSimples
                    - ServicoNotarial
                    - FundacaoPrivada
                    - ServicoSocialAutonomo
                    - CondominioEdilicio
                    - ComissaoConciliacaoPrevia
                    - EntidadeMediacaoArbitragem
                    - PartidoPolitico
                    - EntidadeSindical
                    - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                    - FundacaoAssociacaoDomiciliadaExterior
                    - OrganizacaoReligiosa
                    - ComunidadeIndigena
                    - FundoPrivado
                    - AssociacaoPrivada
                  type: string
                economicActivities:
                  description: Atividades da Empresa
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        enum:
                          - Main
                          - Secondary
                        type: string
                      code:
                        format: int32
                        type: integer
                companyRegistryNumber:
                  format: int64
                  description: Número de Inscrição na Junta Comercial
                  type: integer
                regionalTaxNumber:
                  format: int64
                  description: Número de Inscrição na SEFAZ (IE)
                  type: integer
                municipalTaxNumber:
                  description: Número de Inscrição na Prefeitura (CCM)
                  type: string
                rpsSerialNumber:
                  description: RPS número serie
                  type: string
                rpsNumber:
                  format: int64
                  description: RPS número
                  type: integer
                issRate:
                  format: double
                  description: Alíquota do ISS para Simples Nacional
                  type: number
                environment:
                  description: |
                    Ambiente de processamento da nota fiscal.
                    Valores possíveis:
                    - `Development`: Desenvolvimento (uso interno/sandbox)
                    - `Production`: Produção — emite nota com validade fiscal
                    - `Staging`: Homologação — emite nota apenas para testes, sem validade fiscal
                  enum:
                    - Development
                    - Production
                    - Staging
                  type: string
                fiscalStatus:
                  description: Status no sistema
                  enum:
                    - CityNotSupported
                    - Pending
                    - Inactive
                    - None
                    - Active
                  type: string
                federalTaxDetermination:
                  description: Determinação de imposto federal
                  enum:
                    - NotInformed
                    - Default
                    - SimplesNacional
                  type: string
                municipalTaxDetermination:
                  description: Determinação de imposto municipal
                  enum:
                    - NotInformed
                    - Default
                    - SimplesNacional
                  type: string
                loginName:
                  description: Nome de login
                  type: string
                loginPassword:
                  description: Senha de login
                  type: string
                authIssueValue:
                  description: Valor de emissão de autorização
                  type: string
                certificate:
                  description: Certificado
                  type: object
                  properties:
                    thumbprint:
                      description: Thumbprint certificado
                      type: string
                    modifiedOn:
                      format: date-time
                      description: Certificado alterado em
                      type: string
                    expiresOn:
                      format: date-time
                      description: Certificado expira em
                      type: string
                    status:
                      description: Status do certificado
                      enum:
                        - Overdue
                        - Pending
                        - None
                        - Active
                      type: string
                createdOn:
                  format: date-time
                  description: Data de criação
                  type: string
                modifiedOn:
                  format: date-time
                  description: Data da última modificação
                  type: string
      responses:
        "200":
          description: Sucesso na atualização da empresa
          content:
            application/json:
              schema:
                type: object
                properties:
                  companies:
                    required:
                      - name
                      - federalTaxNumber
                      - email
                      - address
                      - openningDate
                      - taxRegime
                      - legalNature
                      - municipalTaxNumber
                    type: object
                    properties:
                      id:
                        description: Identificação
                        type: string
                      name:
                        description: Nome ou Razão Social
                        type: string
                      tradeName:
                        description: Nome fantasia
                        type: string
                      federalTaxNumber:
                        format: int64
                        description: CNPJ ou CPF
                        type: integer
                      email:
                        description: Email
                        type: string
                      address:
                        description: Endereço
                        required:
                          - country
                          - street
                          - number
                        type: object
                        properties:
                          country:
                            description: "Sigla do País (padrão ISO 3166-1 mais em http://bit.ly/1OgCkxd)\r\nExemplo: BRA, USD, ARG"
                            type: string
                          postalCode:
                            description: 'CEP (Exemplo: 99999-999)'
                            type: string
                          street:
                            description: Logradouro
                            type: string
                          number:
                            description: 'Número (Exemplo: 185 ou S/N)'
                            type: string
                          additionalInformation:
                            description: 'Complemento (Exemplo: BLC A; APT 10'
                            type: string
                          district:
                            description: Bairro
                            type: string
                          city:
                            description: Cidade
                            type: object
                            properties:
                              code:
                                description: Código do IBGE
                                type: string
                              name:
                                description: Nome
                                type: string
                          state:
                            description: Estado
                            type: string
                      openningDate:
                        format: date-time
                        description: Data abertura da empresa
                        type: string
                      taxRegime:
                        description: |
                          Código de Regime Tributário (CRT) da empresa.
                          Valores possíveis:
                          - `Isento`: Isento de tributação
                          - `MicroempreendedorIndividual`: Microempreendedor Individual (MEI)
                          - `SimplesNacional`: Simples Nacional
                          - `LucroPresumido`: Lucro Presumido (Regime Normal)
                          - `LucroReal`: Lucro Real (Regime Normal)
                        enum:
                          - Isento
                          - MicroempreendedorIndividual
                          - SimplesNacional
                          - LucroPresumido
                          - LucroReal
                        type: string
                      specialTaxRegime:
                        description: |
                          Regime Especial de Tributação (indRegTrib) — aplicável a prestadores de serviços.
                          Valores possíveis:
                          - `Automatico`: Determinação automática pela API conforme cadastro da empresa
                          - `Nenhum`: Sem regime especial de tributação
                          - `MicroempresaMunicipal`: Microempresa Municipal
                          - `Estimativa`: Estimativa fiscal
                          - `SociedadeDeProfissionais`: Sociedade de Profissionais
                          - `Cooperativa`: Cooperativa
                          - `MicroempreendedorIndividual`: Microempreendedor Individual (MEI)
                          - `MicroempresarioEmpresaPequenoPorte`: Microempresário e Empresa de Pequeno Porte (ME/EPP)
                        enum:
                          - Automatico
                          - Nenhum
                          - MicroempresaMunicipal
                          - Estimativa
                          - SociedadeDeProfissionais
                          - Cooperativa
                          - MicroempreendedorIndividual
                          - MicroempresarioEmpresaPequenoPorte
                        type: string
                      legalNature:
                        description: |
                          Código da Natureza Jurídica da empresa, conforme tabela do IBGE.
                          Valores possíveis (principais):
                          - `EmpresaPublica`: Empresa Pública
                          - `SociedadeEconomiaMista`: Sociedade de Economia Mista
                          - `SociedadeAnonimaAberta`: Sociedade Anônima Aberta
                          - `SociedadeAnonimaFechada`: Sociedade Anônima Fechada
                          - `SociedadeEmpresariaLimitada`: Sociedade Empresária Limitada (LTDA)
                          - `Empresario`: Empresário Individual
                          - `Cooperativa`: Cooperativa
                          - `EireliNaturezaEmpresaria`: EIRELI de Natureza Empresária
                          - `EireliNaturezaSimples`: EIRELI de Natureza Simples
                          - `ServicoNotarial`: Serviço Notarial e Registral (Cartórios)
                          - `FundacaoPrivada`: Fundação Privada
                          - `CondominioEdilicio`: Condomínio Edilício
                          - `OrganizacaoReligiosa`: Organização Religiosa
                          - `AssociacaoPrivada`: Associação Privada
                          - `PartidoPolitico`: Partido Político
                          - `EntidadeSindical`: Entidade Sindical
                          - `ComunidadeIndigena`: Comunidade Indígena
                          - `FundoPrivado`: Fundo Privado
                          - `EmpresaDomiciliadaExterior`: Empresa Domiciliada no Exterior
                        enum:
                          - EmpresaPublica
                          - SociedadeEconomiaMista
                          - SociedadeAnonimaAberta
                          - SociedadeAnonimaFechada
                          - SociedadeEmpresariaLimitada
                          - SociedadeEmpresariaEmNomeColetivo
                          - SociedadeEmpresariaEmComanditaSimples
                          - SociedadeEmpresariaEmComanditaporAcoes
                          - SociedadeemContaParticipacao
                          - Empresario
                          - Cooperativa
                          - ConsorcioSociedades
                          - GrupoSociedades
                          - EmpresaDomiciliadaExterior
                          - ClubeFundoInvestimento
                          - SociedadeSimplesPura
                          - SociedadeSimplesLimitada
                          - SociedadeSimplesEmNomeColetivo
                          - SociedadeSimplesEmComanditaSimples
                          - EmpresaBinacional
                          - ConsorcioEmpregadores
                          - ConsorcioSimples
                          - EireliNaturezaEmpresaria
                          - EireliNaturezaSimples
                          - ServicoNotarial
                          - FundacaoPrivada
                          - ServicoSocialAutonomo
                          - CondominioEdilicio
                          - ComissaoConciliacaoPrevia
                          - EntidadeMediacaoArbitragem
                          - PartidoPolitico
                          - EntidadeSindical
                          - EstabelecimentoBrasilFundacaoAssociacaoEstrangeiras
                          - FundacaoAssociacaoDomiciliadaExterior
                          - OrganizacaoReligiosa
                          - ComunidadeIndigena
                          - FundoPrivado
                          - AssociacaoPrivada
                        type: string
                      economicActivities:
                        description: Atividades da Empresa
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              enum:
                                - Main
                                - Secondary
                              type: string
                            code:
                              format: int32
                              type: integer
                      companyRegistryNumber:
                        format: int64
                        description: Número de Inscrição na Junta Comercial
                        type: integer
                      regionalTaxNumber:
                        format: int64
                        description: Número de Inscrição na SEFAZ (IE)
                        type: integer
                      municipalTaxNumber:
                        description: Número de Inscrição na Prefeitura (CCM)
                        type: string
                      rpsSerialNumber:
                        description: RPS número serie
                        type: string
                      rpsNumber:
                        format: int64
                        description: RPS número
                        type: integer
                      issRate:
                        format: double
                        description: Alíquota do ISS para Simples Nacional
                        type: number
                      environment:
                        description: |
                          Ambiente de processamento da nota fiscal.
                          Valores possíveis:
                          - `Development`: Desenvolvimento (uso interno/sandbox)
                          - `Production`: Produção — emite nota com validade fiscal
                          - `Staging`: Homologação — emite nota apenas para testes, sem validade fiscal
                        enum:
                          - Development
                          - Production
                          - Staging
                        type: string
                      fiscalStatus:
                        description: Status no sistema
                        enum:
                          - CityNotSupported
                          - Pending
                          - Inactive
                          - None
                          - Active
                        type: string
                      federalTaxDetermination:
                        description: Determinação de imposto federal
                        enum:
                          - NotInformed
                          - Default
                          - SimplesNacional
                        type: string
                      municipalTaxDetermination:
                        description: Determinação de imposto municipal
                        enum:
                          - NotInformed
                          - Default
                          - SimplesNacional
                        type: string
                      loginName:
                        description: Nome de login
                        type: string
                      loginPassword:
                        description: Senha de login
                        type: string
                      authIssueValue:
                        description: Valor de emissão de autorização
                        type: string
                      certificate:
                        description: Certificado
                        type: object
                        properties:
                          thumbprint:
                            description: Thumbprint certificado
                            type: string
                          modifiedOn:
                            format: date-time
                            description: Certificado alterado em
                            type: string
                          expiresOn:
                            format: date-time
                            description: Certificado expira em
                            type: string
                          status:
                            description: Status do certificado
                            enum:
                              - Overdue
                              - Pending
                              - None
                              - Active
                            type: string
                      createdOn:
                        format: date-time
                        description: Data de criação
                        type: string
                      modifiedOn:
                        format: date-time
                        description: Data da última modificação
                        type: string
        "400":
          description: Algum parametro informado não é válido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "401":
          description: API Key da conta não é valida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
    delete:
      tags:
        - Companies
      summary: Excluir uma empresa
      description: |
        :::warning Endpoint em descontinuação

        Este endpoint faz parte da API legada (`api.nfe.io/v1/companies`) e **está em processo de descontinuação**.

        A nova forma de gerenciar empresas combina **dois recursos** da API de Contribuintes v2:

        - **Empresa** — [API de Empresas (v2)](/docs/documentacao/gerenciamento-empresas/api-empresas)
        - **Inscrição Municipal** — [API de Inscrições Municipais (v2)](/docs/documentacao/gerenciamento-empresas/api-inscricoes-municipais)

        Consulte a [Visão Geral do Gerenciamento de Empresas](/docs/documentacao/gerenciamento-empresas/visao-geral) e a [release-note 2026.1 — Unificação da API de Contribuintes](/docs/release-notes/2026-1-unificacao-api-contribuintes) para o guia de migração completo.

        :::
      operationId: Companies_Delete
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso na remoção da empresa
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Algum parametro informado não é válido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "401":
          description: API Key da conta não é valida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "404":
          description: empresa não foi encontrada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id}/certificate:
    post:
      tags:
        - Companies
      summary: Upload do certificado digital da empresa usando o codificação multipart/form-data.
      description: |
        :::warning Endpoint em descontinuação

        Este endpoint faz parte da API legada (`api.nfe.io/v1/companies`) e **está em processo de descontinuação**.

        A nova forma de gerenciar empresas combina **dois recursos** da API de Contribuintes v2:

        - **Empresa** — [API de Empresas (v2)](/docs/documentacao/gerenciamento-empresas/api-empresas)
        - **Inscrição Municipal** — [API de Inscrições Municipais (v2)](/docs/documentacao/gerenciamento-empresas/api-inscricoes-municipais)

        Consulte a [Visão Geral do Gerenciamento de Empresas](/docs/documentacao/gerenciamento-empresas/visao-geral) e a [release-note 2026.1 — Unificação da API de Contribuintes](/docs/release-notes/2026-1-unificacao-api-contribuintes) para o guia de migração completo.

        :::
      operationId: Companies_CertificateUpload
      requestBody:
        description: Arquivo do certificado digital com extensao PFX ou P12
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                password:
                  type: string
      responses:
        "200":
          description: Sucesso na atualização da certificado digital
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Algum parametro informado não é válido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "401":
          description: API Key da conta não é valida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "404":
          description: Empresa não foi encontrada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "415":
          description: Nenhum arquivo foi encontrado na requisição
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id}/notifications:
    get:
      tags:
        - ServiceInvoiceNotifications
      summary: Listar as notificações de uma empresa
      description: Utilize esta requisição para consultar uma lista das **Notificações** cadastradas na **Empresa**.
      operationId: ServiceInvoiceNotifications_Get
      parameters:
        - name: company_id
          in: path
          description: ID da empresa
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Identificação
                          type: string
                        channel:
                          description: Canal de Notificação
                          enum:
                            - None
                            - Email
                          type: string
                        filters:
                          description: Filtro de Evento
                          type: array
                          items:
                            type: string
                        status:
                          description: Status no sistema
                          enum:
                            - Active
                            - Inactive
                          type: string
                        createdOn:
                          format: date-time
                          description: Data de criação
                          type: string
                        modifiedOn:
                          format: date-time
                          description: Data da última modificação
                          type: string
        "400":
          description: Algum parametro informado não é válido, verificar resposta
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "401":
          description: API Key da conta não é valida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
        "500":
          description: Erro no processamento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsResource"
      security:
        - Authorization_Header: []
          Authorization_QueryParam: []
  /v1/companies/{company_id}/notifications/{notification_id}:
    get:
      tags:
        - ServiceInvoiceNotifications
      summary: Consultar uma notificação existente
      description: Utilize esta requisição para consultar uma **Notificação** que esteja cadastrada e tenha o ID igual ao parametro **{notification_id}**.
      operationId: ServiceInvoiceNotifications_idGet
[...]
